/*Cuidado, afecta a todos los elementos */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    min-height: 100%;
    position: relative;
}

body {
    margin: 0;
    background-color: #141317;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* HEADER */

body header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

body header div.flex {
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width: 100%;
    background-image: url('../images/background-image1.png');
}


/* Logo */

body header .flex div.logo {
    display: flex;
    justify-content: space-around;
    width: 30%;
}

body header .flex div.logo img {
    width: auto;
    height: 60px;
}

/* Navbar */

body header .flex div.navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

/* Search */
body header .flex div.navbar nav {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: center;
    height: 100%;
}

body header .flex div.navbar nav form i {
    background-color: transparent;
    border-radius: 10px;
    color: whitesmoke;
    font-size: 25px;
    border: 2px solid #BC6FF1;
    height: 35px;
    margin: 20px 0px 20px 0px;
    padding: 3px;
    width: 35px;
}

body header .flex div.navbar nav form button {
    background-color: transparent;
    border: none;
}

body header .flex .navbar nav form button i {
    font-size: x-large;
}

body header .flex .navbar nav form input:active {
    outline: none;
}

/* Categories */


/* Icons Log */
body header .flex .navbar div.icons {
    display: flex;
    color: whitesmoke;
}

body header .flex .navbar .icons button {
    cursor: pointer;
    display: inline;
    border: none;
    background-color: transparent;
    margin: 10px 5px 0px 5px;
    width: 50px;
}

body header .flex .navbar .icons button a {
    margin: auto;
    text-decoration: none;
    outline: none;
}

body header .flex .navbar .icons button a i {
    font-size: 25px;
    color: whitesmoke;
}

body header .flex .navbar .icons button a p {
    font-family: 'Manjari', sans-serif;
    font-size: 15px;
    color: #BC6FF1;
    margin-top: 5px;
}


/* Burger */
body header .flex .navbar div.burger-menu {
    text-align: center;
}

body header .flex .navbar div.burger-menu i {
    background-color: transparent;
    border-radius: 10px;
    color: whitesmoke;
    font-size: 25px;
    border: 2px solid #BC6FF1;
    height: 35px;
    margin: 20px 5px 20px 0px;
    padding: 3px;
    width: 35px;
}

/* Errors */
.show-error-message {
    display: block;
}

.is-valid {
    color: #198754;
}

.is-invalid {
    color: #842029;
    border: 2px solid red;
}

.error-message {
    color: #842029;

}

/* MAIN */
body main {
    margin-top: 80px;
}

body main section.carousel {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}

body main .carousel .slider {
    white-space: nowrap;
    padding: 3%;
    cursor: pointer;
    overflow: hidden;
}

body main .carousel .slider img {
    object-fit: cover;
    width: calc(100% / 2);
    margin-left: 20px;
    border-radius: 15px;
    border-left: 1px solid rgba(182, 162, 238, 0.5);
    border-top: 1px solid rgba(182, 162, 238, 0.5);
    box-shadow: 0px 0px 20px rgba(183, 16, 133, 0.7);
}

body main .carousel .slider img:first-child {
    margin-left: 0px;
}

body main .carousel i {
    color: #CDB9DD;
    font-size: 25px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

body main .carousel i:first-child {
    left: 5%;
}

body main .carousel i:last-child {
    right: 5%;
}

/* Títulos de sección */

body main section div.title-section {
    margin-top: 2%;
}

body main section h2.title {
    font-family: 'Russo One', sans-serif;
    font-size: 25px;
    text-align: center;
    color: white;
    margin-top: 5%;
    margin-bottom: 5%;
}

/* Sección products */

body main section.highlight {
    display: block;
    border-top: 5px solid #141317;
    border-bottom: 5px solid #141317;
    margin-bottom: 5%
}

body main section.highlight div.products {
    margin: 0% 5%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    font-family: 'Manjari', sans-serif;
    font-size: 18px;
}

body main section.highlight div.products article {
    margin: 5%;
    width: 90%;
    background: #150050;
    border-radius: 15px;
}

body main section.highlight div.products article div.description-container {
    font-size: 20px;
    text-align: center;
    position: relative;
}

body main section.highlight div.products article div.description-container a#product-redirect {
    text-decoration: none;
}

body main section.highlight div.products article .description-container img {
    display: block;
    width: 100%;
    height: 20rem;
    padding: 4%;
    border-radius: 20px;
    overflow: hidden;
}

/* marcador heart fav*/
body main section.highlight article .description-container i {
    position: absolute;
    bottom: 40%;
    right: 10%;
}

body main section.highlight article .description-container i.heart-icon {
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    color: #bc6ff1;
    border: 2px solid #BC6FF1;
    background-color: transparent;
    border-radius: 50%;
    transition: 400ms;
}

body main section.highlight article .description-container i:hover {
    color: #BC6FF1;
    border: 2px solid #BC6FF1;
    transform: scale(1.5);
}


body main section.highlight article div.description-container .main-container {
    display: none;
}

body main section.highlight article div.description-container .main-container h4.name {
    color: #FFF;
    text-align: center;
    font-family: 'Russo One', sans-serif;
    margin-bottom: 10px;
    width: 100%;
}

body main section.highlight article div.description-container .main-container p.price {
    color: #FFF;
    width: 50%;
}

body main section.highlight article div.description-container .main-container p.discount {
    color: #b71084;
    font-weight: 700;
    width: 50%;
}

/* Buttons */

body main .buttons-create-products {
    display: flex;
    justify-content: space-evenly;
}

body main .buttons-create-products a {
    text-decoration: none;
    outline: none;
}

body main .buttons-create-products .buttons {
    cursor: pointer;
    font-family: 'Russo One', sans-serif;
    font-size: 15px;
    color: #CDB9DD;
    border: none;
    border-radius: 5px;
    background-color: rgba(56, 14, 49, 0.7);
    margin: 5%;
    padding: 10px;
    transition: 0.5s;
}

body main .buttons-create-products .buttons:hover {
    color: #fff;
    box-shadow: 0 0 10px #eee;
    background-color: rgba(183, 16, 133, 0.8);
}


/* Section Setup */
body main section.setup-products div.title-section img {
    width: 100%;
    border-top: 5px solid #141317;
    border-bottom: 5px solid #141317;
}

body main section.setup-products div.setup .categories-box {
    margin: auto;
    padding: 20px 0;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

body main section.setup-products div.setup .main-box {
    width: 190px;
    height: 140px;
    margin: 2%;
    border-radius: 10px;
    cursor: pointer;
    overflow: hidden;
}

body main section.setup-products div.setup .main-box img {
    width: 100%;
    height: 100%;
    transition: all 500ms ease-out;
}

body main section.setup-products div.setup .main-box .box {
    font-family: 'Russo One', sans-serif;
    font-size: 18px;
    text-align: center;
    width: 190px;
    height: 140px;
    color: #FFF;
    transform: translateY(-100px);
}

body main section.setup-products div.setup .main-box a {
    text-decoration: none;
    color: #FFF;
}


/* Footer */

footer {
    margin-top: 100px;
}

body footer div.footer-box {
    background-position: center;
    width: 100%;
    border-top: 5px solid #000;
    font-family: 'Manjari', sans-serif;
    font-size: 18px;
    background-image: url('../images/background-image2.jpg');
    flex-grow: 1;
}


body footer div.footer-box .main-footer {
    margin: auto;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
}

body footer div.footer-box div.up {
    margin-left: 45%;
    margin-top: -20px;
}

body footer div.footer-box div.up i {
    display: flex;
    font-size: 26px;
    color: #b6a2ee;
    padding: 5px;
    width: 40px;
    height: 40px;
    border: 2px solid #BC6FF1;
    background-color: transparent;
    border-radius: 50%;
    position: absolute;
    justify-content: center;
    align-items: center;
    transition: 400ms;
}

body footer div.footer-box div.up:hover i {
    transform: scale(1.2);
    color: #BC6FF1;
    border-color: #b71084;
}

body footer div.footer-box .main-footer .box1 {
    width: 50%;
    position: relative;
    left: 35%;
    margin-top: 15%;
}

body footer div.footer-box .main-footer .box1 img {
    width: 50%;
}

body footer div.footer-box .main-footer .box2 {
    width: 100%;
    margin: 5%;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

body footer div.footer-box .main-footer .box2 a {
    text-decoration: none;
    color: #FFF;
}

body footer div.footer-box .main-footer .box3 {
    margin: 5%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
}

body footer div.footer-box .main-footer .box3 i {
    color: #BC6FF1;
    font-size: 25px;

}

body footer div.footer-box .main-footer .copy {
    border-top: 2px solid #141317;
    margin: 10px 0px;
    width: 100%;
    display: flex;
    flex-flow: wrap;
    gap: 20%;
    justify-content: center;

}

body footer div.footer-box .main-footer .copy p {
    color: #BC6FF1;
    font-family: 'Manjari', sans-serif;
    font-size: 14px;
    margin: 10px 10px;
}


/* Media Queries */

@media (max-width: 768px) {
    body header .flex div.navbar nav form button.submit {
        display: none;
    }

    body header .flex div.navbar nav form input {
        display: none;
    }

    body main section.highlight div.products article {
        border: 1px solid rgba(182, 162, 238, 0.5);
        box-shadow: 0px 0px 10px rgba(182, 162, 238, 0.5);
    }

    body main section.highlight article div.description-container .main-container {
        display: flex;
        flex-flow: wrap;
    }

    body main section.setup-products div.setup .main-box {
        border: 1px solid rgba(182, 162, 238, 0.5);
        box-shadow: 0px 0px 10px rgba(182, 162, 238, 0.5);
    }
}

@media (min-width: 425px) {

    /* HEADER */
    body header .flex .navbar nav {
        justify-content: space-evenly;
    }

    /* MAIN */
    body main section.carousel i.tablet {
        display: block;
    }

    body main section.highlight div.products article {
        width: 47%;
        margin: 1%;
    }

    /* FOOTER */
    body footer div.footer-box .main-footer .box1 {
        width: 50%;
    }
}


@media (min-width: 769px) {

    /* HEADER */

    body header .flex div.logo img {
        height: 70px;
    }

    /* Navbar - Search */
    body header .flex .navbar nav form {
        display: block;
        border: 5px solid;
        margin-top: 13px;
        margin-bottom: 13px;
        height: 50px;
        background-clip: padding-box;
        border-image: linear-gradient(to right, #bc6ff1, #b71084) 1;
    }

    body header .flex .navbar nav form::after {
        position: absolute;
        top: -4px;
        bottom: -4px;
        left: -4px;
        right: -4px;
        z-index: -1;
        border-radius: 16px;
    }

    body header .flex div.navbar nav form i {
        background-color: transparent;
        border: 0px;
        color: #CDB9DD;
        margin: 3px 0px 0px 0px;
        padding: 3px;
    }

    body header .flex .navbar nav form input {
        display: flex;
        position: relative;
        background-color: transparent;
        color: #CDB9DD;
        font-family: 'Russo One', sans-serif;
        font-size: 15px;
        margin: 10px 0px 10px 50px;
        border: none;
        outline: none;
    }

    body header .flex .navbar nav form button.submit {
        display: block;
        position: absolute;
    }

    body header .flex .navbar nav form button.search {
        display: none;
    }

    /* Icons Log */
    body header .flex .navbar div.icons button:hover p {
        color: #b71084;
    }

    /* Burger */
    body header .flex .navbar div.burger-menu {
        display: none;
    }

    /* MAIN */
    /* body main section.carousel {
        height: 25vh;
    }

    body main section.carousel i.desktop {
        display: block;
    } */

    body main section.categories nav {
        height: 10vh;
    }

    body main section.categories nav li {
        width: 20%;
    }

    body main section.categories nav ul li .name {
        font-family: 'Manjari', sans-serif;
        font-size: 12px;
        background: rgba(21, 0, 80, 0.5);
        opacity: 0;
        visibility: hidden;
        transition: all 500ms ease-out;
    }

    body main section.categories nav ul li:hover .name {
        opacity: 1;
        visibility: visible;
        transform: translateY(-208px);
        border-radius: 10px;
    }

    /* Main - Title */
    body main section h2.title {
        font-size: 30px;
        text-align: left;
        margin-left: 10%;
    }

    body main section h2.title::before {
        content: '';
        position: absolute;
        border-bottom: 3px solid #bc6ff1;
        width: 5%;
        transition: 500ms ease;
    }

    body main section h2.title:hover::before {
        width: 90%;
    }

    /* Sección highlight */

    body main section.highlight div.products article {
        width: 30%;
        border-left: 1px solid rgba(182, 162, 238, 0.5);
        border-top: 1px solid rgba(182, 162, 238, 0.5);
        box-shadow: 0px 0px 20px rgb(100, 100, 100);
    }

    body main section.highlight article .description-container i {
        bottom: 10%;
    }

    body main section.highlight article div.description-container .main-container {
        position: absolute;
        width: 100%;
        padding: 5%;
        background-color: rgba(21, 0, 80, 0.5);
        border-left: 1px solid rgba(182, 162, 238, 0.5);
        border-top: 1px solid rgba(182, 162, 238, 0.5);
        border-radius: 10px;
        backdrop-filter: blur(5px);
    }

    body main section.highlight article div.description-container:hover .main-container {
        display: flex;
        flex-flow: wrap;
        opacity: 1;
        transform: translateY(-150px);
        transition: 400ms;
    }

    /* Buttons*/
    body main .buttons-create-products .buttons {
        font-size: 20px;
        border-left: 1px solid rgba(182, 162, 238, 0.5);
        border-top: 1px solid rgba(182, 162, 238, 0.5);
    }

    body main .buttons-create-products .buttons:hover {
        background-image: linear-gradient(to right, rgb(94 0 157) 25%, rgb(183, 15, 131) 100%);
    }

    /* Sección setup */

    body main section.setup-products div.setup .main-box {
        width: 350px;
        height: 200px;
        font-size: 24px;
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        overflow: hidden;
    }

    body main section.setup-products div.setup .main-box:hover {
        box-shadow: 0px 0px 10px #b71084;
    }

    body main section.setup-products div.setup .main-box .box {
        font-size: 24px;
        width: 100%;
        height: 100%;
        background: rgba(21, 0, 80, 0.5);
        opacity: 0;
        visibility: hidden;
        transition: all 500ms ease-out;
    }

    body main section.setup-products div.setup .main-box:hover>.box {
        opacity: 1;
        visibility: visible;
        transform: translateY(-208px);
        border-radius: 10px;
    }

    body main section.setup-products div.setup .main-box .box i {
        margin-top: 2%;
        margin-bottom: 25%;
        transition: all 500ms ease-out;
    }

    body main section.setup-products div.setup .main-box:hover>.box i {
        margin-top: 25%;
        margin-bottom: 2%;
    }

    body main section.setup-products div.setup .main-box .box h4 {
        width: 100%;
        margin: auto;
        max-width: 200px;
    }

    body main section.setup-products div.setup .main-box:hover>img {
        transform: scale(1.3);
    }

    /* FOOTER */

    body footer div.footer-box div.up {
        margin-left: 50%;
    }

    body footer div.footer-box .main-footer .box1 {
        width: 30%;
        left: 5%;
        margin-top: 2%;
    }

    body footer div.footer-box .main-footer .box1 img {
        width: 100%;
    }

    body footer div.footer-box .main-footer .box2 {
        width: 50%;
        height: fit-content;
        gap: 40px;
        margin-top: 8%;
    }

    body footer div.footer-box .main-footer .box3 {
        margin-top: -8%;
        width: 70%;
        height: fit-content;
        position: relative;
        left: 15%;
    }
}

@media (min-width: 1024px) {
    body main section.setup-products div.setup .main-box {
        width: 20%;
    }

    body main section.highlight div.products article .description-container img {
        height: 31rem;
    }

    /* Footer */
    body footer div.footer-box .main-footer .box1 {
        width: 20%;
    }

    body footer div.footer-box .main-footer .box1 img {
        width: 80%;
        margin-top: 2%;
    }

    body footer div.footer-box .main-footer .box2 {
        width: 70%;
        margin-top: 7%;
    }

    body footer div.footer-box .main-footer .box3 {
        margin-top: -7%;
    }
}