/*Cuidado, afecta a todos los elementos */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* HEADER */
body header {
    display: flex;
    flex-direction: row;
    background-color: #39426D;
    height: 8vh;
    border-bottom: 3px solid #000;
}

body header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

/* body header div.logo {
    width: 30%; 
}*/
body header div.header-logo {
    display: flex;
}

body header div div.burger-menu {
    text-align: center;
}

body header div div.burger-menu i {
    background-color: transparent;
    border-radius: 5px;
    color: #BC6FF1;
    font-size: 20px;
    border: 2px solid #150050;
    height: 40px;
    margin: 10px 0px 20px 0px;
    padding: 10px;
    width: 40px;
}

body header div div.logo img {
    width: 134px;
    height: 61px;
    /* margin-left: 57px; */
    margin-top: -2px;
}

body header nav ul li {
    list-style-type: none;
    font-size: x-large;
}

body header nav div ul {
    display: flex;
    /* border: 2px solid #150050; */
    border: none;
    flex-direction: row;
    list-style-type: none;
    gap: 8px;
}

body header nav div.icons {
    display: flex;
    position: relative;
}

body header nav div.icons button {
    background-color: transparent;
    border: none;
}

body header nav form {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: center;
    height: 100%;
}

body header nav form button {
    background-color: transparent;
    border: none;
}

body header nav form button i {
    font-size: x-large;
}

body header nav form input {
    display: none;
}

body header nav form button.submit {
    display: none;
}

body header nav form input:active {
    outline: none;
}

/* MAIN */
body main section.carousel {
    background: rgb(181, 30, 200);
    background: linear-gradient(90deg, rgba(181, 30, 200, 1) 11%, rgba(145, 30, 200, 1) 21%, rgba(132, 11, 151, 1) 35%, rgba(181, 30, 200, 1) 55%, rgba(145, 30, 200, 1) 68%, rgba(181, 30, 200, 1) 88%);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 17vh;
    border-bottom: 2px solid #000;
}

body main section.carousel i.tablet,
body main section.carousel i.desktop {
    display: none;
}

body main section.carousel i {
    text-align: center;
    height: 100%;
    width: 100%;
}

body main section.carousel i img {
    height: 100%;
    width: 100%;
}

body main section.carousel i img:hover {
    transform: scale(1.1);
}

body main section.categories nav {
    height: 6vh;
    background-color: #39426D;
    display:none;
}

body main section.categories nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
    height: 100%;
}

body main section.categories nav ul li:hover {
    background-color: #BC6FF1;
    transform: scale(1.3);
}

/* BODY Abi */
body {
    background-color: #141317;

}
/* Títulos de sección */

body main section.highlight {
    background-image: url("../images/background-image1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: block;
    border-top: 5px solid #141317;
    border-bottom: 5px solid #141317;
    margin-bottom: 5%
}

body main section div.title-section {
    margin-top: 2%;
}

body main section h2.title {
    font-family: 'Russo One', sans-serif;
    font-size: 28px;
    color: white;
    margin-top: 5%;
    margin-left: 10%;
    margin-bottom: 5%;
}

body main section h2.title::before {
    content: '';
    position: absolute;
    border-bottom: 3px solid #BC6FF1;
    width: 5%;
    transition: 0.4s ease;
}

body main section h2.title:hover::before {
    width: 100%;
}


/* Sección products */
body main section.highlight div.products {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 0% 5%;
}

body main section.highlight div.products article {
    font-family: 'Manjari', sans-serif;
    font-size: 18px;
    color: #FFF;
    background-color: #150050;
    margin: 1%;
    width: 30%;
}

body main section.highlight div.products article:after {
    position: absolute;
    width: 27%;
    content: '';
    border: 1px solid #FFF;
    transform: scaleX(0);
    transition: 200ms;
}

body main section.highlight div.products article:hover::after {
    transform: scaleX(1);
}

body main section.highlight div.products article img {
    display: block;
    width: 100%;
    padding: 2%;
}

body main section.highlight div.products article:hover .description-container {
    height: unset;
    opacity: 1;
}

body main section.highlight article div.main-article {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    border-top: solid 2px #39426D;
    padding: 15px;
}

/* marcador heart fav*/
body main section.highlight article div.main-article .heart-icon {
    display: flex;
    font-size: 16px;
    color: #BC6FF1;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 2px solid #BC6FF1;
    background-color: transparent;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
    justify-content: center;
    align-items: center;
    transition: 200ms;
}

body main section.highlight article div.main-article:hover .heart-icon {
    transform: scale(2);
}

body main section.highlight article div.main-article h4.description {
    font-size: 18px;
    color: #FFF;
    width: 100%;
    margin: 2% 0% 2% 0%;
}

body main section.highlight article div.description-container p.price {
    font-size: 18px;
    width: 100%;
}

body main section.highlight article div.description-container p.discount {
    font-size: 18px;
    color: #BC6FF1;
    width: 100%;
}

body main section.highlight article div.main-article div.description-container {
    opacity: 0;
    height: 0;
    transition: opacity 200ms ease-in-out;
}


/* Sección Setup */

body main section.setup-products div.title-section img {
    width: 100%;
    border-top: 5px solid #141317;
    border-bottom: 5px solid #141317;
}

body main section.setup-products div.setup {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between; 
    align-items: center;
    margin: 5% 5%;
    width: 25%;
}

body main section.setup-products div.setup article {
    background-color: #150050;
    font-family: 'Manjari', sans-serif;
    color: #FFF;
    font-size: 18px;
    border-radius: 10px;
    margin: 5%;
    padding: 5%;
    width: 100%;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

body main section.setup-products div.setup article:hover {
    color: #BC6FF1;
    transition: 300ms;
}

body main section.setup-products div.main-article {
    align-content: center;
    text-align: center;
    margin: 2%;
}







@media (min-width: 425px) {

    /* HEADER */
    body header nav {
        justify-content: space-evenly;
    }

    body header nav div ul {
        gap: 8px;
    }

    /* MAIN */
    body main section.carousel i.tablet {
        display: block;
    }
}

@media (min-width: 769px) {

    /* HEADER */
    body header div div.burger-menu {
        display: none;
    }

    body header nav form {
        border: 3px solid;
        margin-top: 13px;
        margin-bottom: 13px;
        height: 70%;
        border-radius: 16px;
        background-clip: padding-box;
        background-color: #39426D;
        border-image: linear-gradient(to right, #bc6ff1, #150050) 1;
    }

    body header nav form::after {
        position: absolute;
        top: -4px;
        bottom: -4px;
        left: -4px;
        right: -4px;
        z-index: -1;
        border-radius: 16px;
    }

    body header nav form input {
        display: flex;
        border: none;
        background-color: #39426D;
        color: #FFF;
        font-family: 'Russo One', sans-serif;
        margin-left: 10px;
        margin-top: 2px;
        margin-bottom: 2px;
        margin-right: 2px;
        outline: none;

    }

    body header nav form button.submit {
        display: block;
        margin-left: 8px;
    }

    body header nav form button.search {
        display: none;
    }

    /* MAIN */
    body main section.carousel {
        height: 25vh;
    }

    body main section.carousel i.desktop {
        display: block;
    }

    body main section.categories nav {
        height: 10vh;
    }

    body main section.categories nav li {
        width: 20%;
        height: 100%;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    body main section.categories nav li i {
        font-size: xx-large;
    }
}