* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #39426D;

}

.formBox {
    width: 200px;
    padding: 10px;
    background-image: url(/images/bg.png);
    background-size: cover;
    text-align: center;
}

h5 {
    font-family: 'Russo One', sans-serif;
    font-weight: 100;
    color: white;
    font-size: 20px;
    margin-bottom: 10px;
}

form input {
    background-color: transparent;
    color: white;
    margin-top: 5px;
    margin-bottom: 10px;
    border: none;
    text-align: center;
    outline: none;
    border-bottom: solid 2px #150050;
}

.inputs {
    width: 100%;
    font-size: 7px;
    color: white;
    padding: 4px;
}

input::placeholder {
    color: white;
    opacity: 1;
    font-size: 7px;

}

.buttons {
    cursor: pointer;
    display: flex;
    justify-content: center;
    width: 100%;
    font-family: 'Russo One', sans-serif;
    padding: 4px;
    font-weight: 100;
    font-size: 13px;
    color: #CDB9DD;
    margin: 7px 0;
    border: none;
    border-radius: 5px;
    background: linear-gradient(#3f0071, #bc6ff1);
    transition: 1ms;
}



i {
    position: absolute;
    transform: translateX(1.4px) translateY(7.4px);
    font-size: 12px;
}

.links {
    display: inline-flex;
    font-size: 6px;
    
}
a {
    cursor: pointer;
    color: white;
    text-decoration: none;
    margin: 0 14.76px;
}

a:hover {
    cursor: pointer;
    color: #bc6ff1;
    text-decoration: none;
    transition: 350ms;
}


.checkbox {
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    color:white
}

.checkbox input {
    margin:0;
}

.checkbox label {
    margin-left:2px;
}

.checkbox:hover{    
    color: #bc6ff1;
    transition: 350ms;
}

.checkbox input::before{
    border-radius: 20px;
}