body main {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

body main div.formBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Manjari', sans-serif;
    text-align: center;
    border-radius: 10px;
    border-left: 1px solid rgba(182, 162, 238, 0.5);
    border-top: 1px solid rgba(182, 162, 238, 0.5);
    background: linear-gradient(1deg, rgba(189, 111, 241, 0.5) 0%, rgba(20, 0, 78, 0.8) 100%);
    padding: 5%;
    margin:  30px 30px 50px 30px;
    height: 350px;
    width: 350px;
}

body main div.formBox h5 {
    font-family: 'Russo One', sans-serif;
    font-size: 25px;
    color: white;
    margin-bottom: 10px;
}

body main div.formBox form {
    width: 70%;
}

body main div.formBox form .inputs {
    background-color: transparent;
    font-family: 'Manjari', sans-serif;
    text-align: center;
    font-size: 15px;
    color: #CDB9DD;
    border: none;
    outline: none;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 25px;
    border-bottom: solid 2px #bc6ff1;
    width: 100%;
}

body main div.formBox form input::placeholder {
    color: white;
    opacity: 1;
}

body main div.formBox form i {
    position: absolute;
    font-size: 15px;
    color: #CDB9DD;
    transform: translateX(4px) translateY(8px);
}

body main div.formBox form .checkbox {
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white
}

body main div.formBox form .checkbox input {
    margin: 0;
}

body main div.formBox form .checkbox label {
    margin-left: 5px;
    margin-top: 5px;
}

body main div.formBox form .checkbox:hover {
    color: #bc6ff1;
    transition: 350ms;
}

body main div.formBox form .checkbox input::before {
    border-radius: 20px;
}

body main div.formBox form .buttons {
    cursor: pointer;
    display: flex;
    justify-content: center;
    font-family: 'Russo One', sans-serif;
    font-size: 15px;
    color: #CDB9DD;
    border: none;
    border-radius: 5px;
    background-color: rgba(20, 19, 23, 0.7);
    padding: 10px;
    margin: 10% 0 10% 20%;
    width: 60%;
    transition: 0.5s;
}

body main div.formBox form .buttons:hover {
    color: #fff;
    background-color: rgba(183, 16, 133, 0.8);
    box-shadow: 0 0 10px #eee;
}

body main div.formBox div.links {
    display: inline-flex;
    font-size: 12px;
}

body main div.formBox .links a {
    cursor: pointer;
    color: white;
    text-decoration: none;
    margin: 0 14.76px;
    width: 50%;
}

body main div.formBox.links a:hover {
    cursor: pointer;
    color: #bc6ff1;
    text-decoration: none;
    transition: 350ms;
}

.text-danger {
    color: red;
}

.show-error-message {
    display: block;
    background-color: #141317;
    padding: 5px;
}

.is-valid {
    color: #198754;
}

.is-invalid {
    color: #842029;
    border: 2px solid red;
}

.error-message {
    color: #842029;

}

@media (min-width: 769px) {
    body main div.formBox {
        height: 550px;
        width: 500px;
        padding: 10px;
        margin:  30px 30px 50px 30px;
    }
    
    body main div.formBox h5 {
        font-size: 30px;
    }
    
    body main div.formBox form {
        width: 80%;
    }
    
    body main div.formBox form .inputs {
        font-size: 20px;
        padding: 10px;
        margin: 30px 0;
    }
    
    body main div.formBox form input::placeholder {
        font-size: 20px;
    }
    
    body main div.formBox form i {
        transform: translateX(10px) translateY(45px);
        font-size: 20px;
    }

    body main div.formBox form .checkbox {
        margin: 20px 0;
    }

    body main div.formBox form .checkbox label {
        font-size: 20px;
    }

    body main div.formBox form .buttons {
        border-left: 1px solid rgba(182, 162, 238, 0.5);
        border-top: 1px solid rgba(182, 162, 238, 0.5);
        font-size: 18px;
    }

    body main div.formBox form .buttons:hover {
        background-position: right center;
        background-image: linear-gradient(to right, rgb(94 0 157) 25%, rgb(183, 15, 131) 100%);
    }
  
    body main div.formBox div.links {
        width: 100%;
        margin-top: 20px;
    }

    body main div.formBox .links a {
        font-size: 15px;
        width: 45%;
    }

    body main .errorMsg {
        font-size: 18px;
    }
}