* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    background-color: #141317;

}


body main div.formBox {
    background: linear-gradient(255deg, #7b28b1 0%, #a277bf 100%);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
    width: 80%;
    padding: 10px;
    margin: 10%;

    font-family: 'Manjari', sans-serif;
    text-align: center;
}


body main div.formBox h5 {
    font-family: 'Russo One', sans-serif;
    font-weight: 100;
    color: white;
    font-size: 30px;
    margin-bottom: 10px;
}

body main div.formBox form input {
    background-color: transparent;
    color: white;
    margin-top: 5px;
    margin-bottom: 25px;
    border: none;
    text-align: center;
    outline: none;
    border-bottom: solid 2px #150050;
}

body main div.formBox form .inputs {
    width: 100%;
    font-size: 10px;
    color: white;
    padding: 5px;
}

body main div.formBox form input::placeholder {
    color: white;
    opacity: 1;
    font-size: 10px;

}

body main div.formBox form .buttons {
    cursor: pointer;
    display: flex;
    justify-content: center;
    width: 100%;
    font-family: 'Russo One', sans-serif;
    padding: 7px;
    font-weight: 100;
    font-size: 15px;
    color: #CDB9DD;
    margin: 15px 0;
    border: none;
    border-radius: 5px;
    background-image: linear-gradient(to right, rgb(94 0 157) 0%, rgb(108 15 193) 51%, rgb(150 16 183) 100%);
    transition: 0.5s;
    box-shadow: none;
    outline: none;
    background-size: 200% auto;
}

body main div.formBox form .buttons:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
    box-shadow: 0 0 10px #eee;
}

body main div.formBox form i {
    position: absolute;
    transform: translateX(1.4px) translateY(7.4px);
    font-size: 12px;
}

body main div.formBox form .checkbox {
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white
}

body main div.formBox form .checkbox input {
    margin: 0;
}

body main div.formBox form .checkbox label {
    margin-left: 2px;
    margin-top: 5px;
}

body main div.formBox form .checkbox:hover {
    color: #bc6ff1;
    transition: 350ms;
}

body main div.formBox form .checkbox input::before {
    border-radius: 20px;
}


body main div.formBox div.links {
    display: inline-flex;
    font-size: 10px;

}

body main div.formBox .links a {
    cursor: pointer;
    color: white;
    text-decoration: none;
    margin: 0 14.76px;
}

body main div.formBox.links a:hover {
    cursor: pointer;
    color: #bc6ff1;
    text-decoration: none;
    transition: 350ms;
}


@media (min-width: 769px) {

    body main div.formBox {
        justify-content: space-evenly;
        height: 90%;
    }

    body main div.formBox form .inputs {
        font-size: 20px;
        padding: 10px;
        margin: 30px 0;
    }

    body main {
        width: 50%;
        margin: auto;
        max-width: 700px;
    }

    body main div.formBox form {
        width: 80%;
    }

    body main div.formBoxv {
        width: 50%;
        margin: 25%;
    }

    body main div.formBox form input::placeholder {
        font-size: 20px;
    }

    body main div.formBox h5 {
        font-size: 50px;
        margin: 30px 0;
    }
    body main div.formBox form .checkbox {
        margin: 20px 0;
    }

    body main div.formBox form .checkbox label {
        font-size: 20px;
    }
    body main div.formBox form .buttons {
        margin-top: 60px;
    }

    body main div.formBox div.links {
        width: 100%;
        margin-top: 20px;
    }

    body main div.formBox .links a {
        font-size: 15px;
        width: 45%;
    }
}