body main {
    margin: 100px 0px 50px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

body main div.product-title {
    font-family: "Russo One";
    text-align: center;
    color: white;
    margin: 5% 0;
}

/* Imágenes producto*/
body main .main-product div.images-product {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

body main .main-product .images-product div.first-img {
    background: linear-gradient(1deg, rgba(189, 111, 241, 0.5) 0%, rgba(20, 0, 78, 0.8) 100%);
    border-radius: 10px;
    border-left: 1px solid rgba(182, 162, 238, 0.5);
    border-top: 1px solid rgba(182, 162, 238, 0.5);
    box-shadow: 0px 0px 10px rgba(182, 162, 238, 0.8);
    height: 350px;
    width: 350px;
    padding: 10px;
    margin: 25px 0px;
    overflow: hidden;
}

body main .main-product .images-product div.first-img img {
   
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

body main .main-product .images-product div.second-img {
    display: flex;
    flex-direction: row;
    gap: 8px;
    border-radius: 10px;
    border-left: 1px solid rgba(182, 162, 238, 0.5);
    border-top: 1px solid rgba(182, 162, 238, 0.5);
    background: linear-gradient(60deg, rgb(138, 9, 130, 0.8) 25%, rgb(156, 125, 224) 100%);
    box-shadow: 0px 0px 20px rgba(183, 16, 133, 0.5);
    padding: 2%;
    height: 160px;
}

body main .main-product .images-product div.second-img img {
    border: 1px solid rgba(182, 162, 238, 0.5);
    border-radius: 10px;
}

/* Detalles del producto*/
body main div.product-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-family: 'Manjari', sans-serif;
    font-size: 15px;
    background-color: #c3b8e9;
    border-radius: 5px;
    padding: 5px 20px;
    margin-top: 30px;
    width: 400px;
}

body main .product-description .price-product {
    font-family: 'Russo One', sans-serif;
    font-size: 25px;
    text-align: center;
    margin-bottom: 10px;
}

body main .product-description .product-discount h4 {
    font-weight: 700;
    font-size: 18px;
    color: #00c45f;
}

/* body main .product-description .product-discount p {
    font-size: 12px;
}

body main .product-description .dues {
} */

body main .product-description .dues input {
    font-weight: bold;
    padding: 5px;
    background-color: rgb(211, 211, 211);
    border: none;
    border-radius: 2px;
    color: #000000;
    font-size: 10px;
    margin-bottom: 15px;
}

body main .product-description .dues .checkbox input::before {
    border-radius: 20px;
}

body main .product-description .recive-product input {
    font-weight: bold;
    padding: 5px;
    background-color: rgb(211, 211, 211);
    border: none;
    border-radius: 2px;
    color: #000000;
    font-size: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
}


body main .product-description .payment-method-images {
    display: none;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* 
body main .product-description .payment-method-images {
    width: 20%;
    margin: auto;
}

body main .product-description .payment-method-images img {
    width:100%;
} */


body main .botones {
    gap: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 15px;
}

body main .botones input {
    font-weight: bold;
    padding: 5px 15px;
    background: linear-gradient(to right, rgb(94 0 157) 0%, rgb(108 15 193) 51%, rgb(150 16 183) 100%);
    border: none;
    border-radius: 2px;
    color: #CDB9DD;
    font-size: 13px;
    margin-top: 5px;
    margin-bottom: 15px;
    font-family: 'Russo One', sans-serif;
    transition: 0.5s;
    background-size: 200% auto;
    border-radius: 10px;
    text-align: center;
    justify-content: center;
}

body main .box-product-buttons .botones form #delete-button {
    background: linear-gradient(to right, rgb(193, 12, 27) 0%, rgb(189, 8, 8) 51%, rgb(235, 13, 50) 100%);

}

body main .box-product-buttons .botones input:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
    box-shadow: 0 0 10px #eee;
}

body main .description-under-product {
    text-align: center;
    background-color: white;
    width: 80%;
    margin: auto;
    font-family: 'Manjari', sans-serif;
    border-radius: 5px;
    margin: 68px 0px;
}

body main .description-under-product h2 {
    padding: 20px 0px;
    font-family: "Russo One";
}

body main .description-under-product p {
    padding: 15px;
}
.second-img{
    display: none !important;
    overflow: hidden;
}
.second-img img{
    width: 140px;
}

@media (min-width: 425px) {
    body main div.product-title {
        font-size: 20px;
        text-align: left;
    }
}


@media (min-width: 769px) {
    body main div.product-title {
        font-size: 30px;
        margin: 3% 10% 0% 10%;
    }

    body main div.product-title::before {
        content: '';
        position: absolute;
        border-bottom: 3px solid #BC6FF1;
        width: 5%;
        transition: 0.4s ease;
    }

    body main div.product-title:hover::before {
        width: 100%;
    }



    body main section.main-product {
        display: flex;
        justify-content: space-evenly;
        max-width: 1500px;
        width: 100%;
        gap: 5%;
        margin: auto;
    }

    body main section article.product {
        max-width: 650px;
        width: 70%;
    }

    body main section article.box-product-buttons {
        width: 40%;
    }

    body main section .box-product-buttons .product-description {
        width: 100%;
    }

    body main section .box-product-buttons .product-description h2 {
        font-size: 40px;
        padding: 10px;
        margin-bottom: 20px;
    }

    p {
        font-size: 20px;
    }

    /* body main section .box-product-buttons .product-description .dues input {
        padding: 10px;
        font-size: 15px;
        margin-bottom: 25px;
        margin-top: 15px;
    } */

    body main .product-discount p {
        font-size: 18px;
    }

    body main section .box-product-buttons .product-description .recive-product input {
        padding: 10px;
        font-size: 15px;
        margin-bottom: 25px;
        margin-top: 15px;
    }

    body main section .box-product-buttons .product-description h4 {
        font-size: 30px;
        margin: 20px 0px;
    }

    body main section .box-product-buttons .botones input {
        padding: 15px 60px;
        font-size: 20px;
        margin-top: 5px;
        margin-bottom: 15px;
    }

    body main .description-under-product h2 {
        padding: 20px 0px;
        font-size: 30px;
        font-family: "Russo One";
    }

    body main .description-under-product p {
        font-size: 20px;
        padding: 25px;
    }
    .second-img{
        display: flex !important;
    }
}