/* Títulos de sección */

body main section div.title-section {
    margin-top: 2%;
}

body main section h2.title {
    font-family: 'Russo One', sans-serif;
    font-size: 25px;
    text-align: center;
    color: white;
    margin-top: 5%;
    margin-bottom: 5%;
}

/* Sección products */

body main section.highlight {
    display: block;
    border-top: 5px solid #141317;
    border-bottom: 5px solid #141317;
    margin-bottom: 5%
}

body main section.highlight div.products {
    margin: 0% 5%;   
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    font-family: 'Manjari', sans-serif;
    font-size: 18px;
}

body main section.highlight div.products article {
    margin: 5%;
    width: 90%;
    background:#150050;
    border-radius: 15px;
}

body main section.highlight div.products article div.description-container{
    font-size: 20px;
    text-align: center;
    position: relative;
}

body main section.highlight div.products article div.description-container a#product-redirect {
    text-decoration: none;
}

body main section.highlight div.products article .description-container img {
    display: block;
    width: 100%;
    padding: 4%;
    border-radius: 20px;
    overflow: hidden;
}

/* marcador heart fav*/
body main section.highlight article .description-container i {
    position: absolute;
    bottom: 40%;
    right: 10%;
}

body main section.highlight article .description-container i.heart-icon {
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    color: #bc6ff1;
    border: 2px solid #BC6FF1;
    background-color: transparent;
    border-radius: 50%;
    transition: 400ms;
}

body main section.highlight article .description-container i:hover {
    color: #BC6FF1;
    border: 2px solid #BC6FF1;   
    transform: scale(1.5);
}


body main section.highlight article div.description-container .main-container {
    display: none;
}

body main section.highlight article div.description-container .main-container h4.name {
    color: #FFF;
    text-align: center;
    font-family: 'Russo One', sans-serif;
    margin-bottom: 10px;
    width: 100%;
}

body main section.highlight article div.description-container .main-container p.price {
    color: #FFF;
    width: 50%;
}

body main section.highlight article div.description-container .main-container p.discount {
    color: #b71084;
    font-weight: 700;
    width: 50%;
}

@media (max-width: 768px) {
    body main section.highlight div.products article {
        border: 1px solid rgba(182, 162, 238, 0.5);
        box-shadow: 0px 0px 10px rgba(182, 162, 238, 0.5);
    }

    body main section.highlight article div.description-container .main-container {
        display: flex;
        flex-flow: wrap; 
    }
}

@media (min-width: 425px) {
    body main section.highlight div.products article {
        width: 47%;
        margin: 1%;
    }
}

@media (min-width: 769px) {

    body main section h2.title {
        font-size: 30px;
        text-align: left;
        margin-left: 10%;
    }

    body main section h2.title::before {
        content: '';
        position: absolute;
        border-bottom: 3px solid #bc6ff1;
        width: 5%;
        transition: 500ms ease;
    }
    
    body main section h2.title:hover::before {
        width: 90%;
    }

    body main section.highlight div.products article {
        width: 30%;
        border-left: 1px solid rgba(182, 162, 238, 0.5);
        border-top: 1px solid rgba(182, 162, 238, 0.5);
        box-shadow: 0px 0px 20px rgb(100, 100, 100);
    }

    body main section.highlight article .description-container i {
        bottom: 10%;
    }

    body main section.highlight article div.description-container .main-container {
        position: absolute;
        padding: 5%;
        background-color: rgba(21, 0, 80, 0.5);
        border-left: 1px solid rgba(182, 162, 238, 0.5);
        border-top: 1px solid rgba(182, 162, 238, 0.5);
        border-radius: 10px;
        backdrop-filter: blur(5px);
    }
    
    body main section.highlight article div.description-container:hover .main-container {
        display: flex;
        flex-flow: wrap;
        opacity: 1;
        transform: translateY(-150px);
        transition: 400ms;
    }
}