body main {
    margin: 100px 0px 50px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

body main div.formBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Manjari', sans-serif;
    text-align: center;
    color: white;
    background: linear-gradient(1deg, rgba(189, 111, 241, 0.5) 0%, rgba(20, 0, 78, 0.8) 100%);
    border-radius: 10px;
    border-left: 1px solid rgba(182, 162, 238, 0.5);
    border-top: 1px solid rgba(182, 162, 238, 0.5);
    padding: 5%;
    margin-top: 20px;
}

body main .formBox h5 {
    font-family: 'Russo One', sans-serif;
    font-size: 25px;
    color: white;
    margin-bottom: 5%;
}

body main .formBox form .inputs {
    background-color: transparent;
    font-family: 'Manjari', sans-serif;
    font-size: 15px;
    text-align: left;
    color: #CDB9DD;
    border: none;
    outline: none;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 15px;
    border-bottom: solid 1px #bc6ff1;
    width: 100%;
}

body main .formBox form input::placeholder {
    color: white;
    opacity: 1;
}

body main .formBox .selection {
    display: block;
    color: #CDB9DD;
    font-family: 'Manjari', sans-serif;
    font-size: 15px;
    background-color: transparent;
    border: none;
    border-bottom: solid 1px #bc6ff1;
    outline: none;
    margin: 15px 0;
    width: 100%;
}

body main .formBox option {
    color: #150050;
}

body main .formBox .textarea {
    display: block;
    font-family: 'Manjari', sans-serif;
    color: #CDB9DD;
    font-size: 15px;
    background-color: transparent;
    border: none;
    border-bottom: solid 1px #bc6ff1;
    outline: none;
    margin: 15px 0;
    width: 100%;
}

body main .formBox .textarea::placeholder{
    color: white;
    opacity: 1;
}

body main .formBox .buttons {
    cursor: pointer;
    display: flex;
    justify-content: center;
    font-family: 'Russo One', sans-serif;
    font-size: 15px;
    color: #CDB9DD;
    padding: 10px;
    margin: 10% 0 5% 20%;
    border: none;
    border-radius: 5px;
    background-color: rgba(20, 19, 23, 0.7);
    width: 60%;
    transition: 0.5s;
}

body main .formBox .buttons:hover {
    text-decoration: none;
    color: #fff;
    box-shadow: 0 0 10px #eee;
    background-color: rgba(183, 16, 133, 0.8);
}


@media (max-width: 425px) {
    body main .formBox {
        height: 550px;
        width: 350px;
        font-size: 18px;
    }
}

@media (min-width: 426px) {
    body main .formBox {
        height: 600px;
        width: 420px;
        font-size: 18px;
    }

    body main .formBox .textarea {
        font-size: 15px;
    }
}

@media (min-width: 769px) {
    body main .formBox {
        height: 650px;
        width: 550px;
        font-size: 20px;
    }

    body main div.formBox h5 {
        font-size: 30px;
    }

    body main div.formBox form .inputs {
        font-size: 20px;
    }
    
    body main div.formBox form input::placeholder {
        font-size: 20px;
    }

    body main .formBox .selection {
        font-size: 20px;
    }

    body main div.formBox .selection input#inputImage {
        font-size: 15px;
    }

    body main .formBox .textarea {
        font-size: 20px;
    }

    body main .formBox .buttons {
        font-size: 18px;
        margin: 10% 0 0% 20%;
    }
    
    body main div.formBox form .buttons:hover {
        background-image: linear-gradient(to right, rgb(94 0 157) 25%, rgb(183, 15, 131) 100%);
    }

}