body main {
    margin: 100px 0px 50px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

body main div.title {
    display: flex;
    gap: 20px;
    font-family: 'Russo One', sans-serif;
    color: white;
    margin: 5% 0;
}

body main div.title h4 {
    font-size: 15px;
    display: flex;
    align-items: center;
}

body main div.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: white;
    background: linear-gradient(1deg, rgba(189, 111, 241, 0.5) 0%, rgba(20, 0, 78, 0.8) 100%);
    border-radius: 10px;
    border-left: 1px solid rgba(182, 162, 238, 0.5);
    border-top: 1px solid rgba(182, 162, 238, 0.5);
    width: 350px;
}

body main div.container .productos {
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 5%;
}

body main div.container div.productos div.producto {
    display: flex;
    margin: 5%;
    padding: 2%;
}

body main div.container .productos div.producto:hover {
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.3);
    transition: 300ms;
}

body main div.container .productos div.image {
    display: flex;
    width: 33%;
}

body main div.container div.productos img {
    margin: 10px 10px 10px 10px;
    width: 64%;
    height: 65px;
}

body main div.container div.productos div.description {
    display: flex;
    flex-wrap: wrap;
    font-family: 'Manjari', sans-serif;
    font-size: 15px;
    color: #FFF;
    width: 100%;
}

body main div.container div.productos div.description div.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;

}

body main div.container div.productos div.description article.article1 {
    text-align: left;
    margin-top: 2%;
    width: 40%;
}

body main div.container div.productos div.description article.article2 {
    margin-top: 2%;
    margin-right: 15%;
    display: flex;
    justify-content: flex-end;
    width: 45%;
}

body main div.container div.productos div.description article.article3 {
    display: flex;
    margin-right: 5%;
    justify-content: flex-end;
    width: 100%;
}

body main div.container div.productos div.description div.buttons article.article5 {
    margin-right: 3%;
}

/* Linea */
body main div.container .productos hr {
    border: 1px solid #BC6FF1;
    border-radius: 1px;
    margin: 0 5%;
    height: 1px;
    width: 100%;
}

body main div.container div.total {
    display: flex;
    flex-wrap: wrap;
    font-family: 'Manjari', sans-serif;
    font-size: 15px;
    color: #FFF;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 5%;
    padding: 3%;
}

body main div.container .total article {
    margin: 10px 0;
}


body main div.container div.total article.article1total {
    text-align: end;
    margin-left: 12%;
}

body main div.container div.total article.article2 {
    margin-left: 3%;
}

body main div.container div.total article.article2total {
    text-align: end;
    margin-right: 2%;
    margin-bottom: 22px;
}

body main div.container div.total article.article3 {
    margin-left: 3%;
    width: 60%;
    margin-bottom: 5%;
}

body main div.container div.total article.article3total {
    text-align: center;
    width: 30%;
    margin-bottom: 5%;
    font-weight: bolder;
    color: #000;
}

body main div.container div.total article.article4 {
    margin-left: 3%;
    width: 60%;
    margin-bottom: 5%;
}

body main div.container div.total article.article4total {
    text-align: end;
    width: 30%;
    margin-bottom: 5%;
    font-weight: bolder;
}

body main div.container .total hr {
    border: 1px solid #BC6FF1;
    border-radius: 1px;
    height: 1px;
    width: 100%;
}

body main div.container div.pago {
    display: flex;
    margin: 0% 10% 5% 10%;
    width: 100%;
}

main div.container div.pago a {
    width: 100%;
    text-decoration: none;
    outline: none;
}

main div.container div.pago a button {
    cursor: pointer;
    display: flex;
    justify-content: center;
    font-family: 'Russo One', sans-serif;
    font-size: 15px;
    color: #CDB9DD;
    padding: 10px;
    margin: 5% 0 5% 20%;
    border: none;
    border-radius: 5px;
    background-color: rgba(20, 19, 23, 0.7);
    width: 60%;
    transition: 0.5s;
}

main div.container div.pago a button:hover {
    text-decoration: none;
    color: #fff;
    box-shadow: 0 0 10px #eee;
    background-color: rgba(183, 16, 133, 0.8);
}

main div.description .buttons input {
    text-decoration: none;
    color: #fff;
    box-shadow: 0 0 3px #eee;
    border: none;
    outline: none;
    padding: 5px;
    cursor: pointer;
    background-color: rgba(219, 12, 57, 0.8);
}

main div.total .selection {
    margin: 10px 0;
}

@media (min-width: 425px) {
    body main div.title {
        font-size: 20px;
    }
}

@media (min-width: 769px) {

    /* MAIN */
    body main div.title {
        font-size: 30px;
        margin: 2% 0% 2% 10%;
        width: 90%;
    }

    body main div.title::before {
        content: '';
        position: absolute;
        border-bottom: 3px solid #BC6FF1;
        width: 5%;
        transition: 0.4s ease;
    }

    body main div.title:hover::before {
        width: 90%;
    }

    body main div.container {
        justify-content: space-around;
        font-size: 18px;
        padding: 1%;
        width: 750px;
    }

    body main div.container div.productos {
        width: 55%;
        margin: 2% 0%;
    }

    body main div.container div.total {
        width: 40%;
        margin: 2% 0%;
    }

    main div.container div.pago a button {
        font-size: 18px;
        margin: 2% 0% 0% 20%;
    }

    main div.container div.pago a button:hover {
        background-image: linear-gradient(to right, rgb(94 0 157) 25%, rgb(183, 15, 131) 100%);
    }
}