/*Cuidado, afecta a todos los elementos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #141317;
}

/* MAIN */
body main .product-title {
    font-family: "Russo One";
    text-align: center;
    color: white;
    margin: 10% 10% 5% 10%;
}

body main .main-product {
    margin: 0% 5% 5% 5%;
    padding: 2%;
    width: 90%;
}


/* Box del producto*/

body main .main-product .product {
    margin-bottom: 30px;
}

body main .main-product .product div.images-product {
    display: flex;
    background: linear-gradient(90deg, rgba(205, 185, 221) 0%, rgba(182,162,238) 100%);
    padding: 10px;
    border-radius: 5px;
    flex-wrap: wrap;
}
body main .main-product .product .images-product .principal-image {
    width: 100%;
    margin: auto;
    padding: 5px;
}

body main .main-product .product .images-product .carrousel-images {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    margin-top: 10px;
}

body main .main-product .product .images-product .carrousel-images div {
    width: 100%;
    margin: auto;

}

body main .main-product .product .images-product .carrousel-images div img {
    width: 100%;
    margin: auto;
}

/* Otros detalles del producto*/

body main .box-product-buttons .product-description {
    background-color: #fff;
    padding: 5px 20px;
    border-radius: 5px;
}

body main .box-product-buttons .product-description h2 {
    text-align: center;
    margin-bottom: 10px;
}

body main .box-product-buttons h2 {
    font-family: "Russo One";
}

body main .box-product-buttons p, h4{
    font-family: 'Manjari', sans-serif;
}

body main .box-product-buttons p {
    font-size: 13px;
}

body main .box-product-buttons .product-description ul {
    padding-left: 15px;
    margin-bottom: 5px;
}

/* body main .box-product-buttons .product-description .dues input {
    font-weight: bold;
    padding: 5px ;
    background-color: rgb(211, 211, 211);
    border: none;
    border-radius: 2px;
    color: #000000;
    font-size: 10px;
    margin-bottom: 15px;
} */

body main .box-product-buttons .product-description .recive-product input {
    font-weight: bold;
    padding: 5px ;
    background-color: rgb(211, 211, 211);
    border: none;
    border-radius: 2px;
    color: #000000;
    font-size: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
}

body main .box-product-buttons .product-description .payment-method-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

body main .box-product-buttons .product-description .payment-method-images div {
    width: 20%;
    margin: auto;
}

body main .box-product-buttons .product-description .payment-method-images div img {
    width:100%;
}

body main .product-discount h4 {
    font-size: 15px;
    color: #00c45f;
    font-weight: bold;
}

body main .product-discount p {
    font-size: 12px;    
}

body main .box-product-buttons .botones {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    margin-top: 15px;
}

body main .box-product-buttons .botones input {
    font-weight: bold;
    padding: 5px 15px ;
    background: linear-gradient(to right, rgb(94 0 157) 0%, rgb(108 15 193) 51%, rgb(150 16 183) 100%);
    border: none;
    border-radius: 2px;
    color: #CDB9DD;
    font-size: 13px;
    margin-top: 5px;
    margin-bottom: 15px;
    font-family: 'Russo One', sans-serif;
    transition: 0.5s;
    background-size: 200% auto;
    border-radius: 10px;
}

body main .box-product-buttons .botones input:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
    box-shadow: 0 0 10px #eee;
}

body main .description-under-product {
    text-align: center;
    background-color: white;
    width: 80%;
    margin: auto;
    font-family: 'Manjari', sans-serif;
    border-radius: 5px;
    margin-bottom: 50px;
}

body main .description-under-product h2 {
    padding: 20px 0px;
    font-family: "Russo One";
}

body main .description-under-product p {
    padding: 15px;
}

@media (min-width: 425px) {
    body main div.product-title {
        font-size: 20px;
        text-align: left;
    }
}


@media (min-width: 769px) {
    body main div.product-title {
        font-size: 30px;
        margin: 3% 10% 0% 10%;
    }

    body main div.product-title::before {
        content: '';
        position: absolute;
        border-bottom: 3px solid #BC6FF1;
        width: 5%;
        transition: 0.4s ease;
    }
    
    body main div.product-title:hover::before {
        width: 100%;
    }



    body main section.main-product {
        display: flex;
        justify-content: space-evenly;
        max-width: 1500px;
        width: 100%;
        gap: 5%;
        margin: auto;
    }

    body main section article.product {
        max-width: 650px;
        width: 70%;
    }

    body main section article.box-product-buttons {
        width: 40%;
    }

    body main section .box-product-buttons .product-description {
        width: 100%;
    }

    body main section .box-product-buttons .product-description h2 {
        font-size: 40px;
        padding: 10px;
        margin-bottom: 20px;
    }

    p {
        font-size: 20px;
    }

    /* body main section .box-product-buttons .product-description .dues input {
        padding: 10px;
        font-size: 15px;
        margin-bottom: 25px;
        margin-top: 15px;
    } */

    body main .product-discount p {
        font-size: 18px;    
    }

    body main section .box-product-buttons .product-description .recive-product input {
        padding: 10px;
        font-size: 15px;
        margin-bottom: 25px;
        margin-top: 15px;
    }

    body main section .box-product-buttons .product-description h4 {
        font-size: 30px;
        margin: 20px 0px;
    }

    body main section .box-product-buttons .botones input {
        padding: 15px 60px;
        font-size: 20px;
        margin-top: 5px;
        margin-bottom: 15px;
    }

    body main .description-under-product h2 {
        padding: 20px 0px;
        font-size: 30px;
        font-family: "Russo One";
    }
    
    body main .description-under-product p {
        font-size: 20px;
        padding: 25px;
    }
}