/*Cuidado, afecta a todos los elementos */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #141317;
}

body main div.title {
    font-family: 'Russo One', sans-serif;
    color: white;
    margin: 10% 0% 10% 10%;
    display: flex;
    gap: 20px;
}

body main div.title h4 {
    font-size: 15px;
    display: flex;
    align-items: center;
}

body main div.container {
    background: linear-gradient(255deg, #7b28b1 0%, #a277bf 100%);
    color: #FFF;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    width: 90%;
    padding: 5%;
    margin-bottom: 10%;
    margin-left: 5%;
    border-radius: 10px;
}

body main div.container div.productos {
    background-color: rgba(255, 255, 255, 0.2);
    display: flex;
    flex-wrap: wrap;
    margin: 10% 5% 0% 5%;
    width: 90%;
}

body main div.container div.productos div.producto:hover {
     background-color: rgba(255, 255, 255, 0.3); 
}

body main div.container div.productos hr {
   border:2px solid #000;
   border-radius: 1px;
   width: 100%;
   height: 1px;
   margin-left: 7%;
   margin-right: 7%;
}

body main div.container div.productos div.image {
    display: flex;
    width: 33%;
}

body main div.container div.productos img {
    margin: 10px 10px 10px 10px;
    width: 64%;
    height: 65px;
}

body main div.container div.productos div.producto {
    width: 100%;
    display: flex;
}

body main div.container div.productos div.description {
    display:flex;
    flex-wrap: wrap;
    width: 100%;
    font-family: 'Manjari', sans-serif;
    font-size: 17px;
    color: #FFF;
}

body main div.container div.productos div.description div.buttons{
    display:flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;

}

body main div.container div.productos div.description article.article1{
    text-align: left;
    margin-top:2%;
    width: 40%;
}

body main div.container div.productos div.description article.article2{
    margin-top:2%;
    margin-right: 15%;
    display: flex;
    justify-content: flex-end;
    width: 45%;
}

body main div.container div.productos div.description article.article3{
    display: flex;
    margin-right: 5%;
    justify-content: flex-end;
    width: 100%;
}

body main div.container div.productos div.description div.buttons article.article5 {
    margin-right: 3%;
}

body main div.container div.total {
    font-family: 'Manjari', sans-serif;
    font-size: 17px;
    color: #FFF;
    background-color:rgba(255, 255, 255, 0.2);
    margin: 10% 10% 0% 10%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

body main div.container div.total article {
    width: 45%;
    margin-top: 5%;
    margin-left: 2%;
}

body main div.container div.total article.article1 {
    margin-left: 3%;
}

body main div.container div.total article.article1total {
    text-align: end;
    margin-right: 2%;
}

body main div.container div.total article.article2 {
    margin-left: 3%;
}

body main div.container div.total article.article2total {
    text-align: end;
    margin-right: 2%;
    margin-bottom: 22px;
}

body main div.container div.total article.article3 {
    margin-left: 3%;
    width: 60%;
    margin-bottom: 5%;
}

body main div.container div.total article.article3total {
    text-align: center;
    width: 30%;
    margin-bottom: 5%;
    font-weight: bolder;
    color:#000;
}

body main div.container div.total article.article4 {
    margin-left: 3%;
    width: 60%;
    margin-bottom: 5%;
}

body main div.container div.total article.article4total {
    text-align: end;
    width: 30%;
    margin-bottom: 5%;
    font-weight: bolder;
}

body main div.container div.total hr {
    border:2px solid #000;
    border-radius: 1px;
    width: 100%;
    margin-left: 7%;
    margin-right: 7%;
}

body main div.container div.pago {
    display: flex;
    margin-right: 20%;
    width: 100%;
    margin-left: 20%;
}

main div.container div.pago a{
    width: 100%;
    text-decoration: none;
}

.btn-grad {
    background-image: linear-gradient(to right, rgb(94 0 157) 0%, rgb(108 15 193) 51%, rgb(150 16 183) 100%);
    margin: 10px;
    padding: 10px 45px;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: none;
    border-radius: 10px;
    display: block;
    width: 100%;
    text-decoration: none;
    outline: none;
    font-family: 'Russo One', sans-serif;
}

.btn-grad:focus {
    outline:none;
}

.btn-grad:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
    box-shadow: 0 0 10px #eee;
}

@media (min-width: 425px) {
    body main div.title {
        font-size: 20px;
    }
}

@media (min-width: 769px) {
        /* MAIN */
    body main div.title {
        font-size: 30px;
        text-align: left;
        margin: 5% 0% 5% 10%;
    }

    body main div.title::before {
        content: '';
        position: absolute;
        border-bottom: 3px solid #BC6FF1;
        width: 5%;
        transition: 0.4s ease;
    }
    
    body main div.title:hover::before {
        width: 100%;
    }

    body main div.container {
        justify-content: space-around;
        width: 80%;
        padding: 5%;
        margin: 0% 0% 10% 10%;
    }

    body main div.container div.productos {
        width: 40%;
        margin: 0%;
    }

    body main div.container div.pago {
        margin-top:10%;
    }

    body main div.container div.total {
        width: 40%;
        margin: 0%;
    }
}