* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Manjari', sans-serif;

}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: grey;
    flex-direction: column;
}

body header {
    width: 100%;
}

body main {
    margin: 50px 0;
}

.formBox {
    width: 250px;
    padding: 10px;
    background-color: lightgray;
    background-size: cover;
    text-align: center;
}

h5 {
    font-family: 'Russo One', sans-serif;
    font-weight: 100;
    color: black;
    font-size: 20px;
    margin-bottom: 10px;
}


.formBox .inputs {
    background-color: transparent;
    margin-top: 5px;
    text-align: left;
    border: none;
    outline: none;
    width: 100%;
    color: black;
    padding: 4px;
    margin-bottom: 15px;
    border-bottom: solid 2px black;
}

.formBox input::placeholder {
    color: black;
    opacity: 1;
}

.formBox .buttons {
    cursor: pointer;
    display: flex;
    justify-content: center;
    width: 100%;
    font-family: 'Russo One', sans-serif;
    padding: 4px;
    font-weight: 100;
    font-size: 13px;
    color: white;
    margin-top: 18px;
    border: none;
    border-radius: 5px;
    background-color: black;
    transition: 500ms;
}

.formBox .buttons:hover {
    color: black;
    background-color: white;
}

.formBox .selection {
    color: black;
    display: block;
    width: 100%;
    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: 2px black solid;
    margin: 15px 0
}

.formBox option {
    color: black;

}

.formBox .textarea {
    color: black;
    display: block;
    width: 100%;
    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: 2px black solid;
    margin: 15px 0
}

.formBox .textarea::placeholder{
    color: black;
    opacity: 1;
}

footer {
    width: 100%;
}

@media (min-width: 769px) {
    
    body main {
        margin: 150px 0;
    }
    .formBox {
        width: 600px;
        margin: auto;
    }
}