body main {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

body main div.formBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Manjari', sans-serif;
    text-align: center;
    background: linear-gradient(1deg, rgba(189, 111, 241, 0.5) 0%, rgba(20, 0, 78, 0.8) 100%);
    border-radius: 10px;
    border-left: 1px solid rgba(182, 162, 238, 0.5);
    border-top: 1px solid rgba(182, 162, 238, 0.5);
    padding: 2%;
    margin: 30px 30px 50px 30px;
}

body main div.formBox h5 {
    font-family: 'Russo One', sans-serif;
    font-size: 25px;
    color: white;
    margin-bottom: 10px;
}

body main div.formBox form .inputs {
    background-color: transparent;
    font-family: 'Manjari', sans-serif;
    text-align: center;
    font-size: 15px;
    color: #CDB9DD;
    border: none;
    outline: none;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 25px;
    border-bottom: solid 2px #150050;
    width: 100%;
}

body main div.formBox form input::placeholder {
    color: white;
    opacity: 1;
}

body main div.formBox form i {
    position: absolute;
    font-size: 15px;
    color: #CDB9DD;
    transform: translateX(4px) translateY(8px);
}

body main div.formBox form input:focus {
    outline: none;
    border: solid 2px#bc6ff1;
}

body main div.formBox .interaction-buttons {
    display: flex;
    justify-content: start;
    width: 100%;
}

body main div.formBox .interaction-buttons .buttons {
    cursor: pointer;
    display: inline;
    font-family: 'Russo One', sans-serif;
    font-size: 15px;
    color: #CDB9DD;
    border: none;
    border-radius: 5px;
    background-color: rgba(20, 19, 23, 0.7);
    padding: 10px;
    margin: 5%;
    width: 45%;
    transition: 0.5s;
}

body main div.formBox .interaction-buttons .buttons:hover {
    color: #fff;
    box-shadow: 0 0 10px #eee;
    background-color: rgba(183, 16, 133, 0.8);
}

body main div.formBox div a {
    cursor: pointer;
    display: flex;
    color: white;
    text-decoration: none;
    margin-top: 5%;
}

body main div.formBox a:hover {
    cursor: pointer;
    color: #bc6ff1;
    text-decoration: none;
    transition: 350ms;
}

body main .errorMsg {
    color: rgb(207, 18, 18);
    font-weight: bold;
    font-size: 10px;
    margin: 0px 0px 10px 0px;
}

body main .inputImage {
    width: 100%;
    margin-bottom: 20px;
}

.show-error-message {
    display: block;
    background-color: #141317;
    padding: 5px;
    margin: 10px 0;
}

.is-valid {
    color: #198754;
}

.is-invalid {
    color: #842029;
    border: 2px solid red;
}

.error-message {
    color: #842029;

}

form #eye-icon1,
form #eye-icon2 {
    transform: translateX(360px) translateY(12px);
}


@media (max-width: 425px) {
    body main .formBox {
        height: 440px;
        width: 350px;
    }

    body main div.formBox h5 {
        font-size: 20px;
    }

    body main div.formBox form .inputs {
        margin-bottom: 15px;
    }
}

@media (min-width: 426px) {
    body main .formBox {
        height: 500px;
        width: 420px;
    }
}

@media (min-width: 769px) {
    body main div.formBox {
        height: 100%;
        width: 500px;
        margin: 30px 30px 80px 30px;
        font-size: 20px
    }

    body main div.formBox h5 {
        font-size: 30px;
        margin-bottom: 20px;
    }

    body main div.formBox form .inputs {
        font-size: 20px;
        width: 400px;
    }

    body main div.formBox form i {
        transform: translateX(10px) translateY(9px);
        font-size: 20px;
    }

    body main div.formBox div a {
        margin-top: -10px;
        font-size: 20px;
    }

    body main div.formBox .interaction-buttons {
        margin-bottom: 30px;
    }

    body main div.formBox .interaction-buttons .buttons {
        font-size: 18px;
        border-left: 1px solid rgba(182, 162, 238, 0.5);
        border-top: 1px solid rgba(182, 162, 238, 0.5);
    }

    body main div.formBox .interaction-buttons .buttons:hover {
        background-image: linear-gradient(to right, rgb(94 0 157) 25%, rgb(183, 15, 131) 100%);
    }

    body main .errorMsg {
        font-size: 18px;
    }

    body main .inputImage {
        font-size: 20px;
        width: 80%;
        margin-bottom: 30px;
    }
}