* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    
    background-color: #141317;

}

body main div.formBox {
    background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60vh;
    width: 80%;
    padding: 10px;
    margin: 10%;
}

body main div.formBox h5 {
    font-family: 'Russo One', sans-serif;
    font-weight: 100;
    color: white;
    font-size: 30px;
    margin-bottom: 10px;
}

body main div.formBox form input {
    background-color: #222027;
    border-radius: 5px;
    color: white;
    margin-top: 5px;
    margin-bottom: 25px;
    border: none;
    text-align: center;
}

body main div.formBox .inputs {
    width: 100%;
    font-size: 10px;
    color: white;
    padding: 5px;
}

body main div.formBox form input::placeholder {
    color: white;
    opacity: 1;
    font-size: 10px;

}´

body main div.formBox form input:focus {
    outline: none;
    border: solid 2px#bc6ff1;
}

body main div.formBox form .buttons {
    cursor: pointer;
    display: inline;
    font-family: 'Russo One', sans-serif;
    padding: 10px;
    font-weight: 100;
    font-size: 15px;
    color: #CDB9DD;
    margin: 5px 45px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    background: linear-gradient(#3f0071, #bc6ff1);
}


body main div.formBox form i {
    position: absolute;
    transform: translateX(1.4px) translateY(7.4px);
    font-size: 15px;
}

body main div.formBox div a {
    cursor: pointer;
    position: absolute;
    transform: translateX(25px) translateY(0px);
    font-size: 12px;
    color: white;
    text-decoration: none;

}

body main div.formBox  a:hover {
    cursor: pointer;
    color: #bc6ff1;
    text-decoration: none;
    transition: 350ms;
}


@media (min-width: 769px) {
    body main div.formBoxv {
        width: 50%;
        margin: 25%;
    }
}