<!-- HEAD  -->
<%- include('partials/head')  %>

  <title>RamTech</title> 
</head>

<body>
  
  <!-- HEADER  -->
  <%- include('partials/header')  %>

  <main>
    <section class="carousel">
      <i><img src="/images/carousel1.jpg" alt="Imagen de oferta"></i>
      <i class="tablet"><img src="/images/carousel2.jpg" alt="Imagen de oferta"></i>
      <i class="desktop"><img src="/images/carousel3.jpg" alt="Imagen de oferta"></i>
    </section>
    <section class="categories">
      <nav>
        <ul>
          <li><i class="fa-solid fa-microchip"></i></li>
          <li><i class="fa-solid fa-desktop"></i></li>
          <li><i class="fa-solid fa-computer-mouse"></i></li>
          <li><i class="fa-regular fa-keyboard"></i></li>
          <li><i class="fa-solid fa-print"></i></li>
          <li><i class="fa-solid fa-microphone"></i></li>
          <li><i class="fa-solid fa-headset"></i></li>
          <li><i class="fa-solid fa-hard-drive"></i></li>
        </ul>
      </nav>
    </section>

    <section class="highlight">

      <div class="title-section">

        <h2 class="title">
          <strong>Destacados del mes</strong>
        </h2>
      </div>


      <div class="products">
        <article>
          <a href="/product-detail" id="product-redirect">
            <img src="/images/images-products/joy-con01.jpg" alt="Controles Nintendo Switch">
            <div class="main-article">
              <i class="fa-solid fa-heart heart-icon"></i>
              <h4 class="name">Controles Nintendo Switch</h4>
              <div class="description-container">
                <p class="price">$33.000 </p>
                <p class="discount">0% Off</p>
              </div>
            </div>
          </a>
        </article>

        <article>
          <a href="#" id="product-redirect">
            <img src="/images/images-products/gabinete-corsair.webp" alt="Gabinete Corsair">
            <div class="main-article">
              <i class="fa-solid fa-heart heart-icon"></i>
              <h4 class="name">Gabinete Corsair</h4>
              <div class="description-container">
                <p class="price">$49.000</p>
                <p class="discount">0% Off</p>
              </div>
            </div>
          </a>
        </article>

        <article>
          <a href="#" id="product-redirect">
            <img src="/images/images-products/monitor-samsung.jpg" alt="Monitor Samsung">
            <div class="main-article">
              <i class="fa-solid fa-heart heart-icon"></i>
              <h4 class="name">Monitor Samsung</h4>
              <div class="description-container">
                <p class="price">$60.500</p>
                <p class="discount">0% Off</p>
              </div>
            </div>
          </a>
        </article>

        <article>
          <a href="#" id="product-redirect">
            <img src="/images/images-products/razer-viper-mini-usp1-mobile.jpg" alt="Mouse Razer">
            <div class="main-article">
              <i class="fa-solid fa-heart heart-icon"></i>
              <h4 class="name">Mouse Razer</h4>
              <div class="description-container">
                <p class="price">$12.200</p>
                <p class="discount">0% Off</p>
              </div>
            </div>
          </a>
        </article>

        <article>
          <a href="#" id="product-redirect">
            <img src="/images/images-products/teclado-reddragon.jpg" alt="Teclado Redragon">
            <div class="main-article">
              <i class="fa-solid fa-heart heart-icon"></i>
              <h4 class="name">Teclado Redragon</h4>
              <div class="description-container">
                <p class="price">$14.500</p>
                <p class="discount">0% Off</p>
              </div>
            </div>
          </a>
        </article>

        <article>
          <a href="#" id="product-redirect">
            <img src="/images/images-products/tarjeta-grafica.jpg" alt="Placa de video rtx 3060 AorusElite">
            <div class="main-article">
              <i class="fa-solid fa-heart heart-icon"></i>
              <h4 class="name">Placa de video rtx 3060 AorusElite</h4>
              <div class="description-container">
                <p class="price">$250.000</p>
                <p class="discount">0% Off</p>
              </div>
            </div>
          </a>
        </article>

    </section>

    <section class="setup-products">

      <div class="title-section">
        <h2 class="title">
          <strong>Armá tu Setup ideal</strong>
        </h2>
        <img src="/images/setups-gamers.jpg" alt="Setup-products">
      </div>

      <div class="setup">
        <div class="categories-box">
          <div class="main-box" style="background-image: url('/images/images-categories/cat-gabinete.jpeg')">
            <a href="/#">
              <i class="fa-solid fa-computer"></i>
              <h4 class="name">Gabinetes</h4>
            </a>
          </div>

          <div class="main-box" style="background-image: url('/images/images-categories/cat-almacenamiento.jpeg')">
            <a href="/#">
              <i class="fa-solid fa-hard-drive"></i>
              <h4 class="name">Almacenamiento</h4>
            </a>
          </div>

          <div class="main-box" style="background-image: url('/images/images-categories/cat-procesador.jpg')">
            <a href="/#">
              <i class="fa-solid fa-microchip"></i>
              <h4 class="name">Procesadores</h4>
            </a>
          </div>

          <div class="main-box" style="background-image: url('/images/images-categories/cat-placavideo.jpeg')">
            <a href="/#">
              <i class="fa-solid fa-eye"></i>
              <h4 class="name">Placas de video</h4>
            </a>
          </div>

          <div class="main-box" style="background-image: url('/images/images-categories/cat-monitor.jpg')">
            <a href="/#">
              <i class="fa-solid fa-display"></i>
              <h4 class="name">Monitores</h4>
            </a>
          </div>

          <div class="main-box" style="background-image: url('/images/images-categories/cat-mouses.jpg')">
            <a href="/#">
              <i class="fa-solid fa-computer-mouse"></i>
              <h4 class="name">Mouses</h4>
            </a>
          </div>

          <div class="main-box" style="background-image: url('/images/images-categories/cat-keyboards.jpg')">
            <a href="/#">
              <i class="fa-regular fa-keyboard"></i>
              <h4 class="name">Teclados</h4>
            </a>
          </div>

          <div class="main-box" style="background-image: url('/images/images-categories/cat-headsets.jpg')">
            <a href="/#">
              <i class="fa-solid fa-headset"></i>
              <h4 class="name">Auriculares</h4>
            </a>
          </div>

          <div class="main-box" style="background-image: url('/images/images-categories/cat-microfono.jpg')">
            <a href="/#">
              <i class="fa-solid fa-microphone"></i>
              <h4 class="name">Microfonos</h4>
            </a>
          </div>

          <div class="main-box" style="background-image: url('/images/images-categories/cat-webcam.jpg')">
            <a href="/#">
              <i class="fa-solid fa-video"></i>
              <h4 class="name">WebCams</h4>
            </a>
          </div>

          <div class="main-box" style="background-image: url('/images/images-categories/cat-mando.jpg')">
            <a href="/#">
              <i class="fa-solid fa-gamepad"></i>
              <h4 class="name">Mandos</h4>
            </a>
          </div>

          <div class="main-box" style="background-image: url('/images/images-categories/cat-parlantes.jpg')">
            <a href="/#">
              <i class="fa-solid fa-volume-high"></i>
              <h4 class="name">Parlantes</h4>
            </a>
          </div>

        </div>
      </div>
    </section>
  </main>

  <!-- FOOTER  -->
  <%- include('partials/footer')  %>