<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/css/index.css">
  <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Manjari:wght@400;700&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
</head>

<body>
  <header class="flex">
    <div class="header-logo">
      <div class="burger-menu">
        <i class="fa fa-bars burger"></i>
      </div>
      <div class="logo">
        <a href="/"><img src="/images/logoRamTech.png" alt=""></img></a>
      </div>
    </div>
    <nav>
      <form action="/" method="post">
        <button class="search"><i class="fa-solid fa-magnifying-glass"></i></button>
        <button class="submit" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
        <input type="text" placeholder="Buscar..." name="search" id="">
      </form>
      <div class="icons">
        <ul>
          <button>
            <a href="/login">
              <li><i class="fa-regular fa-user"></i></li>
            </a>
          </button>
          <button>
            <a href="/product-cart">
              <li><i class="fa-solid fa-shop"></i></li>
            </a>
          </button>
          <button>
            <!-- <li><i class="fa-regular fa-envelope"></i></li> -->
          </button>
        </ul>
      </div>
    </nav>
  </header>
  <main>
    <section class="carousel">
      <i><img src="/images/carousel1.jpg" alt="Imagen de oferta"></i>
      <i class="tablet"><img src="/images/carousel2.jpg" alt="Imagen de oferta"></i>
      <i class="desktop"><img src="/images/carousel3.jpg" alt="Imagen de oferta"></i>
    </section>
    <section class="categories">
      <nav>
        <ul>
          <li><i class="fa-solid fa-microchip"></i></li>
          <li><i class="fa-solid fa-desktop"></i></li>
          <li><i class="fa-solid fa-computer-mouse"></i></li>
          <li><i class="fa-regular fa-keyboard"></i></li>
          <li><i class="fa-solid fa-print"></i></li>
          <li><i class="fa-solid fa-microphone"></i></li>
          <li><i class="fa-solid fa-headset"></i></li>
          <li><i class="fa-solid fa-hard-drive"></i></li>
        </ul>
      </nav>
    </section>

    <section class="highlight">

      <div class="title-section">

        <h2 class="title">
          <strong>Destacados del mes</strong>
        </h2>
      </div>


      <div class="products">
        <article>
          <a href="/product-detail" id="product-redirect">
            <img src="/images/images-product-detail/joy-con01.jpg" alt="Auriculares Redragon">
            <div class="main-article">
              <i class="fa-solid fa-heart heart-icon"></i>
              <h4 class="description">Controles Nintendo Switch</h4>
              <div class="description-container">
                <p class="price">$33.000 </p>
                <p class="discount">0% Off</p>
              </div>
            </div>
          </a>
        </article>

        <article>
          <img src="/images/image-products/gabinete-corsair.webp" alt="Gabinete Corsair">
          <div class="main-article">
            <i class="fa-solid fa-heart heart-icon"></i>
            <h4 class="description">Gabinete Corsair</h4>
            <div class="description-container">
              <p class="price">$49.000</p>
              <p class="discount">0% Off</p>
            </div>
          </div>
        </article>

        <article>
          <img src="/images/image-products/monitor-samsung.jpg" alt="Monitor Samsung">
          <div class="main-article">
            <i class="fa-solid fa-heart heart-icon"></i>
            <h4 class="description">Monitor Samsung</h4>
            <div class="description-container">
              <p class="price">$60.500</p>
              <p class="discount">0% Off</p>
            </div>
          </div>
        </article>

        <article>
          <img src="/images/image-products/razer-viper-mini-usp1-mobile.jpg" alt="Mouse Razer">
          <div class="main-article">
            <i class="fa-solid fa-heart heart-icon"></i>
            <h4 class="description">Mouse Razer</h4>
            <div class="description-container">
              <p class="price">$12.200</p>
              <p class="discount">0% Off</p>
            </div>
            <!-- <nav>
              <form action="/" method="post">
                <button class="search"><i class="fa-solid fa-magnifying-glass"></i></button>
                <button class="submit" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                <input type="text" placeholder="Buscar..." name="search" id="">
              </form>
              <div class="icons">
                <ul>
                  <a href="/register"><button>
                      <li><i class="fa-regular fa-user"></i></li>
                    </button></a>
                  <a href="/product-cart"><button>
                      <li><i class="fa-solid fa-cart-shopping"></i></li>
                    </button></a>
                   <button><li><i class="fa-regular fa-envelope"></i></li></button>
                </ul>
              </div>
            </nav> -->
          </div>
        </article>

        <article>
          <img src="/images/image-products/teclado-reddragon.jpg" alt="Teclado Redragon">
          <div class="main-article">
            <i class="fa-solid fa-heart heart-icon"></i>
            <h4 class="description">Teclado Redragon</h4>
            <div class="description-container">
              <p class="price">$14.500</p>
              <p class="discount">0% Off</p>
            </div>
          </div>
        </article>

        <article>
          <img src="/images/image-products/tarjeta-grafica.jpg" alt="Placa de video rtx 3060 AorusElite">
          <div class="main-article">
            <i class="fa-solid fa-heart heart-icon"></i>
            <h4 class="description">Placa de video rtx 3060 AorusElite</h4>
            <div class="description-container">
              <p class="price">$250.000</p>
              <p class="discount">0% Off</p>
            </div>
          </div>
        </article>

    </section>

    <section class="setup-products">

      <div class="title-section">
        <h2 class="title">
          <strong>Armá tu Setup ideal</strong>
        </h2>
        <img src="/images/setups-gamers.jpg" alt="Setup-products">
      </div>

      <div class="setup">
        <div class="categories-box">
          <div class="main-box" style="background-image: url('../images/cat-gabinete.jpeg')">
            <a href="/#">
              <i class="fa-solid fa-computer-classic"></i>
              <h4 class="description">Gabinetes</h4>
            </a>
          </div>

          <div class="main-box" style="background-image: url('../images/cat-almacenamiento.jpeg')">
            <a href="/#">
              <i class="fa-solid fa-hard-drive"></i>
              <h4 class="description">Almacenamiento</h4>
            </a>
          </div>

          <div class="main-box" style="background-image: url('../images/cat-procesador.jpg')">
            <a href="/#">
              <i class="fa-solid fa-microchip"></i>
              <h4 class="description">Procesadores</h4>
            </a>
          </div>

          <div class="main-box" style="background-image: url('../images/cat-placavideo.jpeg')">
            <a href="/#">
              <i class="fa-solid fa-eye"></i>
              <h4 class="description">Placas de video</h4>
            </a>
          </div>

          <div class="main-box" style="background-image: url('../images/cat-monitor.jpg')">
            <a href="/#">
              <i class="fa-solid fa-desktop"></i>
              <h4 class="description">Monitores</h4>
            </a>
          </div>

          <div class="main-box" style="background-image: url('../images/cat-mouses.jpg')">
            <a href="/#">
              <i class="fa-solid fa-computer-mouse"></i>
              <h4 class="description">Mouses</h4>
            </a>
          </div>

          <div class="main-box" style="background-image: url('../images/cat-keyboards.jpg')">
            <a href="/#">
              <i class="fa-regular fa-keyboard"></i>
              <h4 class="description">Teclados</h4>
            </a>
          </div>

          <div class="main-box" style="background-image: url('../images/cat-headsets.jpg')">
            <a href="/#">
              <i class="fa-solid fa-headset"></i>
              <h4 class="description">Auriculares</h4>
            </a>
          </div>

          <div class="main-box" style="background-image: url('../images/cat-microfono.jpg')">
            <a href="/#">
              <i class="fa-solid fa-microphone"></i>
              <h4 class="description">Microfonos</h4>
            </a>
          </div>

          <div class="main-box" style="background-image: url('../images/cat-mando.jpg')">
            <a href="/#">
              <i class="fa-solid fa-gamepad-modern"></i>
              <h4 class="description">Mandos</h4>
            </a>
          </div>

          <div class="main-box" style="background-image: url('../images/cat-impresoras.webp')">
            <a href="/#">
              <i class="fa-solid fa-print"></i>
              <h4 class="description">Impresoras</h4>
            </a>
          </div>

        </div>
      </div>
    </section>
  </main>

  <footer>
    <div class="footer-box" style="background-image: url('../images/background-image2.jpg')">
      <div class="main-footer">

        <div class="box1">
          <a href="/"><img src="/images/logo1.png" alt=""></img></a>
        </div>
        
        <div class="box2">
          <a href="/#"><p>Quienes Somos</p></a>
          <a href="/#"><p>Contacto</p></a>
          <a href="/#"><p>Asesor</p></a>
          <a href="/#"><p>Categorías</p></a>
          <a href="/#"><p>Marcas</p></a>
        </div>

        <div class="box3">
          <i class="fa-brands fa-instagram"></i>
          <i class="fa-brands fa-whatsapp"></i>
          <i class="fa-brands fa-facebook-f"></i>
          <i class="fa-brands fa-twitter"></i>
        </div>
      


        <div class="copy">
          <p>Copyright © 2023 RamTech S.R.L.</p>
          <p>Made with <i class="fa-solid fa-heart heart-icon"></i> by G1-DH</p>
        </div>
    
      </div>
    </div>
  </footer>
</body>

</html>