<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">
    <link href="/css/productDetail.css" rel="stylesheet">
    <title>Detalle del Producto</title>
</head>
<body>
    <header>
    </header>
    <main>
        <section class="product">
            <h1> Nintendo Switch</h1>
            <article class="imagen-producto">
                <img src ="/images/joyConProduct.jpg" alt="Imagen del Producto" width="200px">
            </article>
        </section>
        <section>
            <h2> $33.000 </h2>
            <article>
                <article>
                    <ul><li> 12 cuotas sin interes</li></ul>
                    <div> Boton Calcular Cuotas </div>
                </article>
                <article class="recibir-producto">
                    <h3> Recibi tu producto </h3>
                    <input class="buttons" type="submit" value="Formas de entrega">
                </article>
                <article class="botones">
                    <input class="buttons" type="submit" value="Ver Mas">
                    <input class="buttons" type="submit" value="Comprar">
                </article>
            </article>

        </section>
    </main>
    <footer>

    </footer>
</body>
</html>