<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">
    <link href="/css/productDetail.css" rel="stylesheet">
    <title>Detalle del Producto</title>
</head>

<body>
    <main>
        <section class="main-product">
            <article class="product">
                <div class="product-title">
                    <h2> Controles Nintendo Switch</h2>
                </div>
                <div class="images-product">
                    <img src="/images/images-product-detail/joyConProduct.jpg" alt="Imagen del Producto" width="200px"
                        alt="Imagen del producto" class="principal-image">
                    <div class="carrousel-images">
                        <div>
                            <img src="/images/images-product-detail/joy-con01.jpg">
                        </div>
                        <div>
                            <img src="/images/images-product-detail/joy-con02.jpg">
                        </div>
                        <div>
                            <img src="/images/images-product-detail/joy-con03.jpg">
                        </div>
                        <div>
                            <img src="/images/images-product-detail/joy-con04.jpg">
                        </div>
                        <div>
                            <img src="/images/images-product-detail/joy-con05.jpg">
                        </div>
                    </div>
                </div>
            </article>
            <div class="box-product-buttons">
                <article class="product-description">
                    <article class="price-product">
                        <h2> $33.000 </h2>
                    </article>
                    <article class="dues">
                        <ul>
                            <li> 12 cuotas sin interes</li>
                        </ul>
                        <input class="buttons" type="button" value="Calcular Cuotas">
                    </article>
                    <article class="recive-product">
                        <h4> Recibi tu producto </h4>
                        <p> Llega hoy por $1.200</p>
                        <input class="buttons" type="submit" value="Formas de entrega">
                    </article>
                    <article>
                        <h4> Medios de pago </h4>
                        <div class="payment-method-images">
                            <div><img src="/images/images-product-detail/logo-visa.png"></div>
                            <div><img src="/images/images-product-detail/logo-master.png"></div>
                            <div><img src="/images/images-product-detail/logo-pago-facil.png"></div>
                            <div><img src="/images/images-product-detail/logo-mercado-credito.png"></div>
                        </div>
                    </article>
                </article>
                <article class="botones">
                    <input class="buttons" type="submit" value="Ver Mas">
                    <input class="buttons" type="submit" value="Comprar">
                </article>
            </div>
        </section>
    </main>
    <footer>

    </footer>
</body>

</html>