<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">
    <link href="/css/styles.css" rel="stylesheet">
    <title>Formulario de registro</title>
</head>

<body>

    <div class="formBox">
        <h5>Registro</h5>

        <form>

            <i class='bx bxs-user' style="color:white"></i> <input class="inputs" type="text" name="name"
                placeholder="Ingrese su nombre" required>


            <i class='bx bxs-user' style="color:white"></i> <input class="inputs" type="text" name="surname"
                placeholder="Ingrese su apellido" required>

            <i class='bx bxs-envelope' style="color:white" ></i>
            <input class="inputs" type="email" name="email" placeholder="Ingrese su email" required>

            <i class='bx bxs-lock-open' style="color:white"></i>
            <input class="inputs" type="password" name="password" placeholder="Ingrese su contraseña" required>

            <i class='bx bxs-lock-open' style="color:white"></i>
            <input class="inputs" type="password" name="confirmPassword" placeholder="Vuelva a ingresar su contraseña"
                required>

        </form>

        <input class="buttons" type="submit" value="Enviar">
        <input class="buttons" type="submit" value="Volver">

        <p> Ya tengo una cuenta</p>

    </div>

</body>

</html>