<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">
    <link href="/css/productEdit.css" rel="stylesheet">
    <title>Creación de producto</title>
</head>

<body>

    <div class="formBox">
        <h5>Crear producto</h5>

        <form autocomplete="off">


            <select class="selection">
                <option disabled selected="">Seleccione una categoría</option>
                <option>Gabinetes</option>
                <option>Almacenamiento</option>
                <option>Procesadores</option>
                <option>Placas de video</option>
                <option>Monitores</option>
                <option>Mouses</option>
                <option>Teclados</option>
                <option>Auriculares</option>
                <option>Micrófonos</option>
                <option>Web Cams</option>
                <option>Mandos</option>
                <option>Parlantes</option>
            </select>


            <input class="inputs" type="text" name="name" placeholder="Elige el nombre del producto">


            <input class="inputs" type="text" name="model" placeholder="Elige el modelo">

            <input class="inputs" id='inputImage' type="file" accept=".png, .jpg, .jpeg" name="images">


            <input class="inputs" type="number" name="price" min="1" placeholder="Elige el precio">


            <input class="inputs" type="number" name="discount" min="1" max="100"
                placeholder="Elige el porcentaje del descuento">

            <select class="selection">
                <option disabled selected="">Seleccione un color</option>
                <option>Negro</option>
                <option>Blanco</option>
                <option>Gris</option>
                <option>Rojo</option>
                <option>Amarillo</option>
                <option>Naranja</option>
                <option>Azul</option>
                <option>Celeste</option>
                <option>Verde</option>
                <option>Violeta</option>
                <option>Rosa</option>
            </select>

            <textarea class="textarea" placeholder="Elige la descripcion del producto"></textarea>

            <button type="submit" class="buttons">Crear</button>

        </form>

    </div>

</body>

</html>