<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/productCart.css">
    <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Manjari:wght@400;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
</head>

<body>
    <header class="flex">
        <div class="header-logo">
            <div class="burger-menu">
                <i class="fa fa-bars burger"></i>
            </div>
            <div class="logo">
                <a href="/"><img src="/images/logoRamTech.png" alt=""></img></a>
            </div>
        </div>
        <nav>
            <form action="/" method="post">
                <button class="search"><i class="fa-solid fa-magnifying-glass"></i></button>
                <button class="submit" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                <input type="text" placeholder="Buscar..." name="search" id="">
            </form>
            <div class="icons">
                <ul>
                    <a href="/register"><button>
                            <li><i class="fa-regular fa-user"></i></li>
                        </button></a>
                    <button>
                        <li><i class="fa-solid fa-cart-shopping"></i></li>
                    </button>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <div class="title">
            <h1>CARRITO</h1>
            <h4>(2 ARTICULOS)</h4>
        </div>
        <div class="container">
            <div class="productos">
                <div class="producto">
                    <div class="image">
                        <img src="/images/images-product-detail/joyConProduct.jpg" alt="">
                    </div>
                    <div class="description">
                        <article class="article1">Nintendo Switch</article>
                        <article class="article2">Cantidad</article>
                        <article class="article3">$33.000</article>
                        <div class="buttons">
                            <article class="article4">Editar</article>
                            <article class="article4">Eliminar</article>
                            <article class="article5">Disponible</article>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="producto">
                    <div class="image">
                        <img src="/images/images-product-detail/joyConProduct.jpg" alt="">
                    </div>
                    <div class="description">
                        <article class="article1">Nintendo Switch</article>
                        <article class="article2">Cantidad</article>
                        <article class="article3">$33.000</article>
                        <div class="buttons">
                            <article class="article4">Editar</article>
                            <article class="article4">Eliminar</article>
                            <article class="article5">Disponible</article>
                        </div>
                    </div>
                </div>
            </div>
            <div class="total">
                <article class="article1">Total de la orden</article>
                <article class="article1total">$0.00</article>
                <article class="article2">Envio</article>
                <article class="article2total">$0.00</article>
                <hr>
                <article class="article3">Codigo Promocional</article>
                <article class="article3total">+</article>
                <hr>
                <article class="article4">Total a Pagar</article>
                <article class="article4total">$0.00</article>
            </div>
            <div class="pago">
                <a href="#"><button class="btn-grad">Proceder a pagar</button></a>
            </div>
        </div>
        </main>
    </body>

</html>