<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('../partials/head') %>
<body>
	<!-- Header -->
	<%- include('../partials/header') %>
	<!-- /Header -->

	

	<!-- footer -->
	<%- include('../partials/footer') %>
	<!-- /footer -->
</body>	
</html>