<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">
    <link href="/css/productEdit.css" rel="stylesheet">
    <title>Edición de producto</title>
</head>

<body>

    <div class="formBox">
        <h5>Editar producto</h5>

        <form autocomplete="off">

            <i class='bx bxs-edit-alt' style="color:white"></i>
            <input class="inputs" type="text" name="title" placeholder="Cambiar el título">

            <i class='bx bxs-notepad' style="color:white"></i>
            <input class="inputs" type="text" name="description " placeholder="Cambiar la descripción">

            <input class="inputs" id='inputImage' type="file" name="images">

            <i class='bx bx-dollar' style="color:white"></i>
            <input class="inputs" type="number" name="price" placeholder="Cambiar el precio">"

            <button type="submit" class="buttons">Cambiar</button>

        </form>

    </div>

</body>

</html>