<!-- HEAD  -->
<%- include('../partials/head') %>

    <link href="/css/register.css" rel="stylesheet">
    <title>Formulario de registro</title>
    </head>

    <body>

        <!-- HEADER  -->
        <%- include('../partials/header') %>

            <main>
                <div class="formBox">
                    <h5>Registro</h5>

                    <form action="/users" method="POST" autocomplete="off" enctype="multipart/form-data">

                        <i class='bx bxs-user' style="color:white"></i> <input class="inputs" type="text" name="name" id="name"
                            placeholder="Ingrese su nombre" required>


                        <i class='bx bxs-user' style="color:white"></i> <input class="inputs" type="text" name="lastName" id="lastName"
                            placeholder="Ingrese su apellido" required>

                        <i class='bx bxs-envelope' style="color:white"></i>
                        <input class="inputs" type="email" name="email" id="email" placeholder="Ingrese su email" required>

                        <i class='bx bxs-lock-open' style="color:white"></i>
                        <input class="inputs" type="password" name="password" id="password" placeholder="Ingrese su contraseña"
                            required>

                        <input class="inputs" id='inputImage' type="file" style="font-size: 15px;"accept=".png, .jpg, .jpeg" name="image" id="image">
                        
                        <div class="interaction-buttons">
                            <button type="submit" class="buttons">Enviar</button>
                            <button type="reset" class="buttons">Limpiar</button>
                        </div>
                    </form>


                    <div>
                        <a href="http://localhost:3033/login">Ya tengo una cuenta</a>
                    </div>

                </div>
            </main>
            <!-- FOOTER  -->
            <%- include('../partials/footer') %>