<!-- FOOTER  -->
<footer>
  <div class="footer-box">

    <div class="up">
      <i id="up" class="fa-solid fa-circle-chevron-up"></i>
    </div>

    <div class="main-footer">
      <div class="box1">
        <a href="/"><img src="/images/logo1.png" alt=""></img></a>
      </div>

      <div class="box2">
        <a href="/#">
          <p>Quienes Somos</p>
        </a>
        <a href="/#">
          <p>Contacto</p>
        </a>
        <a href="/#">
          <p>Asesor</p>
        </a>
        <a href="/#">
          <p>Categorías</p>
        </a>
        <a href="/#">
          <p>Marcas</p>
        </a>
      </div>

      <div class="box3">
        <a href="/#"><i class="fa-brands fa-whatsapp"></i></a>
        <a href="/#"><i class="fa-brands fa-instagram"></i></a>
        <a href="/#"><i class="fa-brands fa-facebook-f"></i></a>
        <a href="/#"><i class="fa-brands fa-twitter"></i></a>
      </div>



      <div class="copy">
        <p>Copyright © 2023 RamTech S.R.L.</p>
        <p>Made with <i class="fa-solid fa-heart heart-icon"></i> by G1-DH</p>
      </div>

    </div>
  </div>
</footer>
</body>
<script>
  let upIcon = document.getElementById("up")
  upIcon.addEventListener("click", () => {
    window.scrollTo({
      top: 0,
      behavior: "smooth"
    })
  })

</script>

</html>