<!-- HEADER  -->
<header>
  <div class="flex">
    <div class="logo">
      <a href="/"><img src="/images/logo2.png" alt="RamTech"></img></a>
    </div>

    <div id="categories" class="container">
      <%categories.forEach(cat=> { %>
        <div class="categories">
          <ul>
            <li>
              <a href="/products/search-cat/<%= cat.id %>">
                <h4 class="name">
                  <%= cat.name %>
                </h4>
              </a>
            </li>
          </ul>
        </div>
        <% }) %>
    </div>

    <div class="navbar">
      <nav>
        <form id="search-form" action="/products/search" method="get" autocomplete="off">
          <button class="search"><i class="fa-solid fa-magnifying-glass"></i></button>
          <button class="submit" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
          <input type="search" placeholder="Buscar..." name="q" id="">
        </form>
      </nav>

      <div class="icons">
        <% if (!locals.isLogged) { %>
          <button>
            <a href="/users/login">
              <i class="fa-solid fa-user-astronaut"></i>
              <p>Ingresar</p>
            </a>
          </button>
          <% }else { %>

            <button>
              <a href="/products/product-cart">
                <i class="fa-solid fa-cart-shopping"></i>
                <p>Carrito</p>
              </a>
            </button>
            <button>
              <a href="/users/profile">
                <i class="fa-solid fa-user-astronaut"></i>
                <p>Perfil</p>
              </a>
            </button>
            <button>
              <a href="/users/logout">
                <i class="fa-solid fa-shuttle-space fa-rotate-270"></i>
                <p>Salir</p>
              </a>
            </button>
            <% } %>
      </div>

      <div id="burger-menu" class="burger-menu">
        <i class="fa-solid fa-bars"></i>
      </div>

    </div>
  </div>
</header>

<script src="/js/header.js"></script>