  <!-- HEADER  -->
  <header>
    <div class="flex" >
      <div class="logo">
        <a href="/"><img src="/images/logo2.png" alt="RamTech"></img></a>
      </div>

      <div class="navbar"> 
        <nav>
          <form action="/products/search" method="get" autocomplete="off">
            <button class="search"><i class="fa-solid fa-magnifying-glass"></i></button>
            <button class="submit" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
            <input type="search" placeholder="Buscar..." name="q" id="">
          </form>
        </nav>

        <!-- < % categories.forEach(cat=> {%>
        <div class="categories">
          <ul>
              <li>
                <a href="/products/search-cat/< %= cat.id %>">
                  <i class="< %= cat.icon %>"></i>
                  <h4 class="name">< %= cat.name  %></h4>
                </a>
              </li>
          </ul>
        </div>
        < % }) %> -->

        <div class="icons">
          <ul>
            <% if (!locals.isLogged) { %>
            <button>
              <a href="/users/login">
                <li><i class="fa-solid fa-user-astronaut"></i></li>
              </a>
              <div><p>Ingresar</p></div>
            </button>
            <% }else { %>

            <button>
              <a href="/products/product-cart">
                <li><i class="fa-solid fa-cart-shopping"></i></li>
              </a>
              <div><p>Carrito</p></div>
            </button>
            <button>
              <a href="/users/profile">
                <li><i class="fa-solid fa-user-astronaut"></i></li>
              </a>
              <div><p>Perfil</p></div>
            </button>
            <button>
              <a href="/users/logout">
                <li><i class="fa-solid fa-shuttle-space fa-rotate-270"></i></li>
              </a>
              <div><p>Salir</p></div>
            </button>
            <% } %>
          </ul>
        </div>
      
        <div class="burger-menu">
          <i class="fa-solid fa-bars"></i>
        </div>

      </div>
    </div>
  </header>