  <!-- HEADER  -->
  <header>
    <div class="flex" >
      
      <div class="logo">
        <a href="/"><img src="/images/logo2.png" alt="RamTech"></img></a>
      </div>

      <div class="navbar">
        <nav>
          <form action="/" method="post">
            <button class="search"><i class="fa-solid fa-magnifying-glass"></i></button>
            <button class="submit" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
            <input type="text" placeholder="Buscar..." name="search" id="">
          </form>
        </nav>

        <div class="icons">
          <ul>
            <button>
              <a href="/users/login">
                <li><i class="fa-solid fa-user-astronaut"></i></li>
              </a>
            </button>
            <button>
              <a href="/products/product-cart">
                <li><i class="fa-solid fa-cart-shopping"></i></li>
              </a>
            </button>
          </ul>
        </div>
      
        <div class="burger-menu">
          <i class="fa-solid fa-bars"></i>
        </div>

      </div>
    </div>
  </header>